[2016-05-25 11:18] no-more opened #1 "Custom size and breakpoints"
Hello,

First of all, thanks a lot.

It would be great if it was possible to customize the service a little bit by changing the breakpoints size, and even better (but more complexe) by adding new breakpoints.

Thanks a lot.

[2016-05-25 11:21] no-more opened #2 "Add support for greater-than or lower-than"
Hello,

First of all, thanks a lot.

It would be great if it was possible to add a few directives to show/hide elements which when screen is greater (or less) than a breakpoint. In angular material 1 there used to be directives like :hide-gt-sm or :show-lt-lg, it was very usefull.

Thanks a lot.

[2016-05-25 14:30] ManuCutillas commented on #2
Hello no-more,

I will investigate how to do it and I mention if I can do it. ; )

you're welcome!

[2016-05-25 15:16] no-more commented on #2
Hi,

Thanks for taking care of my request. I may have an idea for an easier implementation of this, instead of creating several components, a single one which could accept a list of size to display, for example "SM,MD" or "SM;MD" or "['SM','MD']" (I don't know which format is the best) would display when screen size match SM or MD.

Thanks.

[2016-05-25 18:10] ManuCutillas commented on #2
Hi,

 I'll try with your example:
   `< p *showItBootstrap="['md','lg']"> Mi element to show</p>`
   `< p *hideItBootstrap="['lg','xs']"> Mi element to hide </p>`
 And with customized measures minimum and maximum : =>
   `<p *showItSizes="{min:550,max:768}">Mi element to show</p>`
  `<p *hideItSizes="{min:550,max:768}">Mi element to show</p>`
 Thank you for your contributions!  ; )

[2016-05-26 03:54] ManuCutillas commented on #2
Hi,
I have already developed new features. **Upgrade** to version 0.1.1. I hope you find them useful. ; )

a greeting.

[2016-05-26 09:06] no-more opened #3 "gap in sizeOperations"
Hi,

There's a small issue in the sizeOperations function, you have strict comparison for both upper and lower values which results in 1px gap between size. You should change one of the comparison for example :
RESPONSIVE_DEVICE_SIZES.md.max > this.width should be RESPONSIVE_DEVICE_SIZES.md.max >= this.width

Thanks for the other updates

[2016-05-26 09:12] no-more commented on #1
Hi again,

I'm not sure you've closed the right issue. Or maybe I didn't explain correctly so you rejected this one.
What I meant by custom size is the ability to change existing breakpoing value when injecting the service a the application bootstrap.
For example if I want to change xs from 767  to 640 (just an example).
An other great use case would be to be able to change from px to rem or em. B

[2016-05-26 09:35] ManuCutillas commented on #1
Hi,

Ok, I had not understood. He planned to make that change to allow users to change xs, sm ,md, lg pixels measures from the component. But using rem, em,%.... instead of pixels is a great idea. I will try to fulfill it in the next update.

Thanks.

[2016-05-26 09:37] #2 closed

[2016-05-26 09:44] no-more commented on #1
Thanks,

also changing values in the service on initialization would be great(I'm not sure how to do this be I know several other services allow to do this using the provide function).
In my case I'm injecting the service globally when my application bootstraps, if I could change the values then, it would affect all the directives with the default breakpoints names.

I'm not sure if my explanation

[2016-05-26 11:50] ManuCutillas commented on #3
Hi,
sizeOperations => fixed.

Thanks!!

[2016-05-26 11:50] #3 closed

[2016-05-26 17:31] no-more commented on #1
I'm currently working on something in order to allow to change default breakpoints, would you like me to send you my code. I'm not sure how to process, it's my first code proposal. Should I create a fork and send you the link ?

[2016-05-26 17:48] ManuCutillas commented on #1
I created a new branch for your code "no-more-code" and I have invited as a collaborator. ; )
If you want to create a new branch, create it without problems. When everything is correct in your code. We join to the main branch and publish.

[2016-05-26 17:52] no-more commented on #1
Thanks!

I'll try to send something soon.

[2016-05-26 18:05] ManuCutillas commented on #1
If it's any help, I upload the current code with a global settings bootstrap sizes. I only need check if the user configured for freeform measures or use the default bootstrap sizes.

I'm going up to the branch: dev-custom-bootstrap-sizes

[2016-05-26 18:45] no-more commented on #1
I'm currently having trouble to commit my code. I'm quite new to git and it's my first commit to git hub. I might be doing something wrong I have a 403 error when I try to push my code.

[2016-05-26 18:48] no-more commented on #1
I'm not sure but it seems I don't have write access to the branch.

[2016-05-26 18:51] no-more commented on #1
Never mind, I hadn't accepted your invitation.

[2016-05-26 19:06] no-more commented on #1
I have uploaded a first version of my code. I'll update the doc in order to allow to bootstrap the service globally.

[2016-05-26 19:26] ManuCutillas commented on #1
Excelent Work!!  ; )

Modifies the readme file with a config sample of your code.
When you're done, tell me and I merge your code in the main branch.

You have NPM user account? To add you as a contributor to the package. : )

[2016-05-26 19:54] no-more commented on #1
Thanks,

I have updated the doc.

But no, I don't have an npm account yet.

[2016-05-26 20:51] ManuCutillas commented on #1
If you decide to create an account in npm I would add as a contributor. ; )

I updated the package. If you see any error, tell me.

Next => Detect devices. : )

[2016-05-27 04:28] no-more commented on #1
Thanks,

I forgot to tell you that my change will break already implemented version as it requires to inject the service at the application bootstrap (as in the new documentation). On the other hand I think it's better to do so in order to avoid injecting the service on each directives usages.

[2016-05-27 11:15] ManuCutillas commented on #1
Hi,
I was implementing the code in my project and I saw that I needed some changes. ; )

If you see some improvement, add it. When you confirm that everything is correct, I upload the new versión in npm.

[2016-05-27 11:24] no-more commented on #1
I'm working on a new version on the branch, but I made a wrong commit on master. I reverted so I hope everything is OK on master.

[2016-05-27 12:01] no-more opened #4 "Add one more breakpoint"
Hi,

If you don't mind I would like to add an additional breakpoing (xl:1600).

Are you ok with this ?

[2016-05-27 12:02] no-more opened #5 "Debounce change detection"
I have added a debounce time to change detection (100ms by default)

If you don't want it I can set it to 0 by default which will result in the actual behavior.

[2016-05-27 13:28] ManuCutillas commented on #4
Hi,

OK! perfect.
Although we can not say they are the standard measures of twitter bootstrap.
: P

[2016-05-27 13:29] ManuCutillas commented on #5
OK perfect. Great idea! ; )

[2016-05-27 13:41] ManuCutillas commented on #1
Don't worry, everything is correct. : )
I check your branch. And if all this right join to the master. And publish in npm your new versión.

Work on making a demo application using the package this weekend. I will work on this in a new branch, I will ask for feedback if you have any idea for this. ; )

Great work Christophe! Thanks!

[2016-05-27 13:43] no-more commented on #4
We can change default size, but this might affect other users. Personally I'm changing the value at bootstrap so it doesn't matter for me.

[2016-05-27 14:52] ManuCutillas commented on #4
Ok! Perfect. The XL size its a great feature for bigs screen sizes like a smart tv.

[2016-05-27 14:53] ManuCutillas commented on #1
Package update with the new version 0.1.6. ;  )

[2016-05-27 15:50] #4 closed

[2016-05-27 15:50] #5 closed

[2016-05-27 17:59] no-more opened #6 "Create abstract classes for common directives"
As per showItBootstrap and hideItBootstrap, we should create abstract classes for each directives types. This will ease development and improve maintainability.

[2016-05-27 18:03] no-more opened #7 "Implement ngOnDestroy and ngOnInit on directives"
In order to improve code we should implements OnInit and OnDestroy on each classes.
I propose showItBootstrap as example for implementing other directives.
Do you think it's a good implementation ?

[2016-05-27 18:05] no-more commented on #6
show/hideItSize could extends ShowHideItBootstrap by making this abstract class a little bit more generic.

[2016-05-27 18:46] ManuCutillas commented on #7
Yes, it's a good practice. If the package grows much or if the application where implement the library is very large.

[2016-05-27 18:48] ManuCutillas commented on #6
Yes, it's a great idea.

[2016-05-27 18:49] #1 closed

[2016-05-28 04:43] no-more opened #8 "Proposition: create ng switch like directive"
Hi,

I don't know yet how, but it would be great to have an ngSwitch like feature.

I can see at least 2 ways to do it:
- use defaut ngSwitch, and expose size with another directive (in order to avoid injecting the service everywhere).
 - This have the drawback of using 2 directives but the advantage of being very simple code and easy to maintain.
- create an ngSwitchResponsive (or other name), an

[2016-05-28 06:17] no-more opened #9 "Proposition: Generate default value for Observable"
Instead of manually patching all directives with a pre-subscription initialization, we can provide a value before the resize event is trigger.

[2016-05-28 13:11] ManuCutillas commented on #8
Hi,

I looked at what you say, and is a great idea. In fact we would come great for use in the following directives of display items by operating system, browser, browser version. Let me see I find some time and I get to work on this.  ; )

[2016-05-28 13:15] ManuCutillas commented on #9
Great, I've seen what you've done and it's a much cleaner way to do this. ; )

[2016-05-28 14:34] no-more commented on #9
Hi,

Yes I wasn't sure it would work at first but yeah it does !

I have only plugged it on the show/hideitbootstrap and on the new ResponsiveSizeInfo directive.

[2016-06-02 17:47] ManuCutillas commented on #7
Fixed! Thanks!

[2016-06-02 17:47] #7 closed

[2016-06-02 17:48] ManuCutillas commented on #6
Fixed! Thanks!

[2016-06-02 17:48] #6 closed

[2016-06-02 17:50] ManuCutillas commented on #9
Fixed! Thanks!

[2016-06-02 17:50] #9 closed

[2016-06-03 05:27] no-more opened #11 "Suggestion: Create dynamic classes"
Hi,

I think in some cases it would be great to be able to show/hide only with css classes. This could be useful when we need to show hide lots of small elements as it will reduce the number of bindings in the page.

We could use a directive to enable the feature, which would great css classes based on breakpoints defined in the service and insert them in the dom.

Please tell me if you agree to i

[2016-06-03 09:52] ManuCutillas commented on #11
Hello,

It would be great, working on it. And if you have any questions, I communicate it. When you have it you do a pull request. ; )

I am creating a directive in which you can select multiple options: responsiveShowIt = {device: 'mobile', os:'ios', browser: 'safari' ....}; and so we replace the specific directives and also working on the demo page. : )

Thank you!

[2016-06-03 10:12] no-more commented on #11
Hi,

Ok I'll work on the css classes generation later today.

[2016-06-03 11:53] ManuCutillas commented on #11
OK great!

[2016-06-03 18:19] no-more commented on #11
I committed a first version which create show/hide classes for xs to xl but I don't like the way it's done.

Maybe you could help me figure out how to improve this. I have mainly 2 points I would like to change:
- I would like to inject code into head instead of inside the component. But I don't know how to do this in an angular2 way. I mean I don't think I should use plain DOM javascript (documen

[2016-06-04 05:40] no-more commented on #11
Hi,
I forgot to mention I have created a new branch for this feature.

[2016-06-05 19:56] ManuCutillas commented on #11
Hi,
- We could try to make this directive in two options:
  1º - In the isolated component: What we've done is great and for certain things can be good.
  2º - Global styles in the head: Injecting code directly in the head, it´s a great solution but i worry about the lifecycle of the directive.
- Here is an idea in javascript but not very Angular 2 philosophy. This would be an option to inject sty

[2016-06-14 03:04] heathbar opened #12 "Template reference variables lost"
Template reference variables are lost when a responsive directive is added. For example:
`<input #phone placeholder="phone number" *xs>`
In this case, referencing the 'phone' variable in other parts of the template yields an exception.

[2016-06-14 03:13] heathbar opened #13 "Suggestion: add classes at breakpoints"
In many cases I don't want to create multiple elements for large/small layouts, I simply need a different css class applied. It would be nice to have a directive that would apply a css class based on the screen size (versus show/hiding the element).
For example:

`<p *sm-class="my-small-class" *lg-class="my-big-class">example</p>`

When the window is small, `.my-small-class` is applied to the elem

[2016-06-14 03:51] t2r2smh2 opened #14 "TypeScript definition file missing for responsive.js?"
Hi, I'm using an Angular 2 starter project which is identical to the quickstarter app on Angular 2's website (https://angular.io/docs/ts/latest/quickstart.html) to test out ng2-responsive. I think it's pretty close to your demo app structure. After I follow your instructions to install and try to run the app when including some responsive directives, I get the following on "npm start". I got the s

[2016-06-14 04:39] no-more commented on #13
Hi,

That's sound a good idea, but maybe instead of changing the class on the element, wouldn't it be easier if there was a specific class on the body like "responsive-breakpoint-lg". We could also add other devices information.
In the application you could then use the class as a media query to handle different layout according to the screen size:

[code]

The main advantages of this :
- no need

[2016-06-15 18:30] ManuCutillas commented on #14
hum .... let's see the error.

[2016-06-15 18:34] ManuCutillas commented on #12
hum.... I'll see if I found a solution to this. ; )

[2016-06-16 08:19] ykh opened #15 "How can I run 'demo'?"
Hi.
I like your idea behind this project :+1:
But, I can't see demo.
I already installed nodejs packages (npm install)
What should I do which remained to do?

I get this error in console log:
`
GET http://test.local/responsive-directives-angular2.js 404 (Not Found)
Error: Error: XHR error (404 Not Found) loading http://test.local/responsive-directives-angular2.js(…)
`
The file is requested not gen

[2016-06-16 08:25] ykh commented on #14
Similar issue I have when I run 'npm start' into 'demo' directory.

[2016-06-16 09:05] ManuCutillas commented on #14
Bugs fixed, Thanks!! Any mistake, let me know. ; )

[2016-06-16 09:11] ManuCutillas commented on #15
update your package, I have corrected an error in the code. ; )

[2016-06-16 09:12] #14 closed

[2016-06-16 09:41] ykh commented on #15
Tnx
It's ok, I go to check this out :D

[2016-06-16 09:42] #15 closed

[2016-06-19 22:50] ackushiw commented on #13
I've just come across this repository so forgive me if this is already a feature, but what about injecting a service into components, that way we can use the ngClass directive, and even trigger functions on changes to orientation etc.

[2016-06-20 16:51] no-more commented on #13
Hi,

You can use the following directives:
- DeviceInfo
- OrientationInfo
- ResponsiveSizeInfo
- PixelRatioInfo.

You can also use ResponsiveState provider but it's currently not the recommended way to do this as it may change at any time.

[2016-06-26 11:42] ManuCutillas commented on #13
Work in new features with css class detections as does ng-class. ; )
And new events changes in responsive directive for get events in your components.

[2016-06-26 11:44] ManuCutillas commented on #12
Try with:

[code]

And tell me if that work. ; )

[2016-06-26 11:53] ManuCutillas opened #16 "Webp compatibility browser detection directive with lazy-load options"
I'm working on a new directive to detect browser compatibility in webp images with lazy load options.

[code]

[2016-06-26 12:01] ManuCutillas opened #17 "Responsive Directive with css classes like ngClass"
I'm working on a new directive like ngClass with responsive features.

[code]
OR
[code]

[2016-06-26 12:13] ManuCutillas opened #18 "Directive that detects all the features of the useragent and send through an event to the components"
UserAgent directive:
[code]
In component get :
[code]

[2016-07-13 19:45] lanbosandershi commented on #17
Does this currently work?

[2016-07-18 13:39] joejordanbrown opened #19 "Universal server side rendering"
Just curious if you have had any thought on using this with universal server side rendering, what would be the best configuration?

Do you think just removing the global directive from the server bootstrap is the best option?

[2016-07-18 17:43] #13 closed

[2016-07-18 17:44] #12 closed

[2016-07-18 17:47] ManuCutillas commented on #17
I still not implemented. I have not had time to work on it. You can use the directives info or responsive to create similar functionality. ; )

[2016-07-18 17:50] ManuCutillas commented on #19
I have not worked with universal server side rendering, so you do not know what to say.

[2016-07-19 16:23] sconix opened #20 "Directive for using element size instead of the screen size for responsivenes"
Our application can be standalone (full page app) or embedded (i.e. fills certain div of the page) so we need to make the application responsive to the "parent" div size not the screen size for it to work in all situations.

So far this library seems like the best way to make our app responsive and the only feature missing is to be able to define a div which size is used instead of the screen size

[2016-07-24 21:32] ManuCutillas commented on #20
Thanks! I will separate directives that do not have to load the entire library if you want to use a single directive. And I will look to add the option to calculate the size through the div father in responsive directive and responsive-info.
It would be something like this? : )

[code]

👍

[2016-07-26 08:52] sconix commented on #20
I made a quick implementation of adding *responsive-window directive which "registers" itself for the config class to be used as the reference width instead of the window width. The advantage is that through the directive I can get the element reference without any DOM queries and it works even if the element is created on the fly (lazy routes for example). Although this isn't as useful as your su

[2016-07-26 12:12] sconix commented on #20
I made a pull request from my implementation, please feel free to use that or make a better one. As I mentioned I only started with Angular 2 couple weeks a go so my implementation might not be the best one :).

I changed my implementation based on your comment so that you can now also define the element to be used for the sizes operator in addition to defining a main window (using 'window' as the

[2016-07-26 18:26] ManuCutillas commented on #20
Great! You have done a great job. I will separate directives in bundles and when this this. I update the demo and get on npm. :)

Now I'll add you as a collaborator.

If you see any need to change or you would like to add something else. ; )

Thank you very much.

[2016-07-26 19:23] ManuCutillas commented on #20
Work fine. : P
Update the readme and others files with the new directive.
Thanks!

[2016-07-27 01:33] phransyz opened #22 "Incorrect path in main index definition file"
I noticed that there is an error in the following file: [https://github.com/ManuCutillas/ng2-responsive/blob/master/src/index.d.ts](https://github.com/ManuCutillas/ng2-responsive/blob/master/src/index.d.ts)

The import on line 8 should reads:

`import { ResponsiveWindow } from './responsive-css/responsive-window';`

but it should be:

`import { ResponsiveWindow } from './responsive-window/responsi

[2016-07-27 17:26] ManuCutillas commented on #22
Thanks! ; )

Fixed in github. Go to update npm package.

[2016-07-27 19:06] ManuCutillas commented on #22
Fixed npm package and update to 0.3.2.

[2016-07-27 19:06] #22 closed

[2016-07-27 19:25] #20 closed

[2016-07-27 19:25] #19 closed

[2016-08-08 16:40] ManuCutillas commented on #18
user agent directive completed. Close.

[2016-08-08 16:40] #18 closed

[2016-08-09 06:14] compitDanielos opened #23 "Uncaught ReferenceError: System is not defined"
Hi,

We using webpack instead of System.js.
Is there any option to handle it?

Thanks.

[2016-08-12 19:14] ManuCutillas commented on #23
Fixed, this error gave way to compile the typescript. Now compiled with CommonJS so you can use the library with webpack without any problem.

[2016-08-12 19:14] #23 closed

[2016-08-23 21:57] papmodern opened #25 "Add directives to common angular directives in version rc5"
I wrote code below to use this plugin in my angular application after updating to rc5. but directives won't insert to angular common directives .

**app.module.ts**
[code]

As angular website described, in rc5 module concept added and there is ability to create modules and imports them to main app just like HttpModule or BrowserModule.
So maybe you can convert your plugin to a module and make the

[2016-08-24 19:59] ManuCutillas commented on #25
Thanks!
Upgrade to rc.5 for rc.4 and before branch.  -- ng2-responsive-v3
The new package in npm for rc.5 - [ng2-responsive for rc.5](https://www.npmjs.com/package/ng2-responsive)

Then I update the master github with the new branch npm package.

[2016-08-24 20:00] #25 closed

[2016-08-25 12:09] doorman02 opened #26 "use ng2-responsive to set variable"
Hi, can I use ng2-responsive to set variable for a component based on the size of the screen.
I am using the material design 2 sideNav and I want to change the mode depending on the screen size.
In material design 1 they where using $mdMedia like this...
` <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">`

Thanks!

[2016-08-26 14:24] silentHoo commented on #26
I need the same. I want to place a tooltip on the bottom or right side of a link. My webapp is fully responsive and so I need a switch between `tooltipPlacement="right"` and `tooltipPlacement="bottom"` which could be done like this:

[code]

[2016-08-27 17:04] ManuCutillas commented on #26
ok, I'll see how to return an option depending on the size of the screen.  ; )

[2016-08-27 18:37] doorman02 commented on #26
Great thanks :)

[2016-08-29 20:22] ManuCutillas commented on #26
In component:

[code]

In html:

[code]

@silentHoo ,tell me if it works or if you find a better solution.

/_--------------------------------------------------------------------------------------------------------_/

Hi @doorman02, for angular material 2 I need to see how it works to look for a solution. Tell me if you find a good solution for this problem.

[2016-08-30 18:16] hassanasad opened #27 "Lots of Warnings in RC5"
Hi - I am getting lots of warnings such as the ones attached below.

I am using Angular 2 RC5 using Node 4.5.0 and NPM 3.10.6

I installed the library using:
`sudo npm i ng2-responsive --save`

As soon as i use the library in my `AppModule` i start getting warning.
[code]

These are some of the warnings:
[code]

P.S: I am using Angular-cli @ webpack

[2016-08-30 18:29] hassanasad opened #28 "Question: How to add browser name as a 'class' to the body tag"
Hi - Can someone please tell me how to add the client browser as a class to the body tag.

For example, if i am using Chrome:
`<body class="chrome">`

Or if i am using Firefox:
`<body class="firefox">`

This makes it quite easy to write browser specific hacks in CSS :)

[2016-08-30 19:12] ManuCutillas commented on #27
Update your package to the version v0.4.2 and tell me if that fixes the problem with warnings.

[2016-08-31 01:12] hassanasad commented on #27
I have updated the package to version v0.4.2 and unfortunately it doesn't fix the warnings :(

[2016-08-31 05:29] hassanasad opened #29 "Orientation not working correctly"
The value of orientation is not working correctly.

I always get 'portrait' on my iPad (in both orientations - even after refreshing the page)

I always get 'landscape' on my laptop no matter how much i change the width of the browser window. (and refresh my page)

Also can anyone please tell me how to detect the change in Orientation?

[2016-08-31 06:20] ManuCutillas commented on #27
Give me your settings webpack and your config file "tsconfig.json", with the demo on my computer I not see the warnings.

[2016-08-31 06:23] ManuCutillas commented on #29
Humm..... I'll see what can be the error.

Thanks!

[2016-08-31 06:42] #8 closed

[2016-08-31 06:42] #11 closed

[2016-08-31 06:42] #16 closed

[2016-08-31 06:42] #17 closed

[2016-08-31 06:44] hassanasad commented on #27
I am using a standard angular-cli with webpack.

**tsconfig.json**

[code]

I think angular-cli doesn't expose webpack settings.

[2016-08-31 06:48] hassanasad commented on #28
Ok - I am able to do this with the following code (which i pulled from the demo files) for reference:

**In my html file:**

[code]

**In my component file:**

[code]

[2016-08-31 06:49] #28 closed

[2016-08-31 15:48] mohitkadelongraph opened #30 "responsive-css/responsive-css.js not found in responsive-directives-angular2"
Hi,

I was installing [responsive-directives-angular2](https://www.npmjs.com/package/responsive-directives-angular2) but responsive-css/responsive-css was not present in its source file and because of which its giving few errors. Can you please update that package with responsive-css files.

[2016-08-31 18:28] ManuCutillas commented on #30
Update your package to the version v0.4.1.

Thanks!

[2016-08-31 18:28] #30 closed

[2016-08-31 19:28] ManuCutillas commented on #27
I do not get to create your mistake on my computer. I set a new webpack with your settings 'tsconfig' and angular-cli. And do not show me warning errors. If you find that is a failure of the package or your proyect, just tell me and fix the bug.

Sorry!

[2016-08-31 19:28] #27 closed

[2016-08-31 19:46] ManuCutillas commented on #29
Update your package to the version v0.4.4 and tell me if that fixes the problem.

[2016-09-01 03:17] hassanasad commented on #29
Thanks ManuCutillas for your efforts.

On iPad i see that the orientation is now fixed. However on my laptop i am getting `landscape` even though if i make the browser width very small (~ 400 px). Does it detect the browser width or screen width?

Also how do i detect the change in orientation on iPad? :)

[2016-09-01 03:22] hassanasad commented on #27
Which Angular-cli version are you using?

My setup is on:
angular-cli: 1.0.0-beta.11-webpack.2
node: 4.5.0
npm: 3.10.6
OS: EL Capitan

[2016-09-01 03:27] hassanasad commented on #29
Ok - i see that adding `change` method in OrientationInfo component fires on Orientation change. However it doesn't always fire. Works 90% of the time. Also if there is an alert and then you change orientation (without clicking the Ok button), it does't fire the method. Probably a JS issue and not a direct bug perhaps?

**Markup code:**

[code]

**Component code:**

[code]

[2016-09-02 13:17] hassanasad opened #31 "Getting Error after Angular 2 RC6 update"
Hi - There seems to be some incompatibility with Angular 2 RC6 and NG2-Repsonsive package.

Here is the error that i am getting:
```index.js:67Uncaught TypeError: core_1.provide is not a function```

Its probably because of some of the deprecations such as this one:
```Instead of PLATFORM_PIPES and PLATFORM_DIRECTIVES, provide platform directives/pipes via an @NgModule.```

[2016-09-02 13:24] bogomips commented on #31
Same here, Rc6 has many breaking changes...

[2016-09-02 14:20] hassanasad commented on #31
I believe some of the changes might just be in this file (as some stuff is deprecated now)

https://github.com/ManuCutillas/ng2-responsive/blob/master/src/index.ts

I am guessing that removing `provide` and `PLATFORM_DIRECTIVES` from this line:
`import { NgModule, provide, PLATFORM_DIRECTIVES } from '@angular/core';`
in `src/index.ts` might be step one :)

Still pretty new to the world of JS and A

[2016-09-02 17:04] ManuCutillas commented on #31
Updated to RC.6. See the demo.
For proyects with Angular RC.5 use ng2-responsive v0.4.4
Thanks!

[2016-09-02 17:05] #31 closed

[2016-09-02 17:13] ManuCutillas commented on #29
Detects whether it is a tablet or a phone to change the orientation, it does not work on a laptop, pc or tv. I do not think anyone needs this functionality in a laptop or SmartTV. This prevents errors in devices that are not adapted to changes screen orientation.
As for the operation of 90% it can be for a malfunction of the browser or device.

[2016-09-02 17:13] #29 closed

[2016-09-02 18:03] hassanasad commented on #31
Wow - that was fast - Thanks ManuCutillas :)

Yeah - the version 0.4.5 works with RC6

[2016-09-03 05:26] hassanasad commented on #27
Okay i found a way to get rid of these warnings.

In each file which is giving warning - "remove" these last lines:
`//# sourceMappingURL=config.js.map`

I believe the warnings are simply coming because sourceMappingURL is pointing to a file that doesn't exist. For example, i dont have any file `config.js.map` in my `config` folder. Same is the case with all the `.map` files. When i install it usi

[2016-09-03 07:08] ManuCutillas commented on #31
Thanks hassanasad!

[2016-09-03 07:21] ManuCutillas commented on #27
Thats Great! Another options to remove the source map warnings in webpack.

[code]

or

[code]

[2016-09-03 07:22] #26 closed

[2016-09-03 07:40] hassanasad commented on #27
Ah - sorry, but were exactly will i put these settings using angular-cli 😁

[2016-09-20 13:56] p5hema2 opened #32 "projekt/ng2-responsive 404 error"
Your install guide didn't work in the first place with ng2-Final, typescript 2.0.2 for the Angular Get Started App.

I resolved the issue with adding
`'responsive': 'npm:ng2-responsive',`
and
`'ng2-responsive': {
  main: './index.js',
  defaultExtension: 'js'
}`
to system.config.js.

app.module.ts

[code]

system.config.js

[code]

[2016-09-20 14:14] p5hema2 opened #33 "grid breakpoints do not match bootstrap and documentation"
yours:
[code]

bootstrap 4:
[code]

bootstrap 3:
[code]

[2016-09-20 18:16] ManuCutillas commented on #33
Hi!
The example of the documentation is to customize to your liking measures.
Do not use predefined bootstrap measures, because I like more these. But you can customize them to be official bootstrap measures.

Thanks!

[2016-09-20 18:25] ManuCutillas commented on #32
It's great, thanks.

I have always tried the library with the demo and webpack project. I'll add an example configuration with Systemjs.

Thanks, p5hema2.

[2016-09-21 09:55] no-more opened #34 "responsive-css.ts is empty"
Hi,

I have just upgraded to the last version (from the previous reprository) and responsive-css.ts is empty. Is the feature removed or replaced with something else ?

Thanks and great job !!

[2016-09-21 10:03] ManuCutillas commented on #34
Hi no-more!

Sorry, sometime eliminating unfinished items for deploy in npm. Delete the information of responsive-css. If you can´t retrieve the file you tell me and I retrieve file information from git and update in the master branch.

; )

[2016-09-30 15:23] sweeneyrobb opened #35 "Unexpected value 'ResponsiveModule' imported by the module 'AppModule'"
I'm trying to AOT (Ahead-of-Time) compile an application that uses ng2-responsive. from what I can gather, it seems as if ng2-responsive is only JIT (Just-in-Time) ready. Demo only shows the use of `platformBrowserDynamic`.

Am I missing something or is this already on the horizon? Any plan release to support this?

[2016-10-04 18:59] ManuCutillas commented on #35
Hi! humm..... I'll see what can be the package work with AOT compile.

If you find the solution before, send an pull request.  ; )

Thanks sweeneyrobb!

[2016-10-07 15:44] chpasha opened #37 "Conflict with primeng"
I'm getting a No provider for TemplateRef! error when using datatable from primeng as soon as I include ResponsiveModule in my project even if I don't use any directives from it. Any idea what could cause the problem?

I'm using angular2 2.0.3, primeng beta 17 and ng2-responsive 0.4.6

[2016-10-07 17:49] sweeneyrobb commented on #35
we've recently worked around the issue. taking a subset of ng2-responsive and making it work with AOT for the moment. my colleague and i are looking to put a pull request together at some point to benefit the ng2-responsive project. will let you know when it's ready :)

[2016-10-09 18:05] ManuCutillas commented on #35
Sweeney robb Hi!

When you want up a pull request.
If you want to make a small summary in the readme file on how to use it with AOT.

Thanks!!

[2016-10-10 22:21] georgeneil opened #38 "Getting peerinvalid error"
When i tried to do 'npm install' from the '\demo' folder i am getting a peerinvalid error.
The angular/platform-server have a dependency on angular@2.0.2

[2016-10-13 16:16] rossimo opened #39 "Calling module programatically"
Is there a way I can call these directives in my component constructors?

[2016-10-13 16:24] rossimo commented on #39
Got it:

[code]

[2016-10-13 16:24] #39 closed

[2016-10-14 19:05] ManuCutillas commented on #35
New branch for dev AOT (Ahead-of-Time).

[2016-10-14 19:10] ManuCutillas commented on #37
Hi!
Jum! : )

I do not know what may be the error.

Sorry!

[2016-10-14 19:11] ManuCutillas commented on #38
Update demo packages. ;  )

[2016-10-14 19:11] #38 closed

[2016-10-14 19:11] #37 closed

[2016-10-14 19:12] #34 closed

[2016-10-14 19:12] #33 closed

[2016-10-18 13:09] istiti opened #40 "AoT Support"
## Enahncement:

Support AoT ?

[2016-10-19 06:32] ManuCutillas commented on #40
Yes, I'm working on it. ; )

[2016-10-19 06:36] elvisbegovic commented on #40
great dude, will use this lib in my project when it's done! ;-) actually I starred lib. wait&see

[2016-10-20 09:17] demiro opened #41 "HOWTO: Set an Angular variable depending on the viewport size"
So Imagine this scenario

I have a main header navigation... that for:

md+ ..... always shown
xs, sm + hidden by default (but could be toggled with burger menu)

so, I use isNavShown variable to toggle the menu.... which should:
on window resize to md+ become true
on window resize to md- become false

so how would I tackle this logic from a directive? How do I interact with the isNavShown var

[2016-10-20 09:55] demiro commented on #41
OK, never mind, found it in your example with template

`<template [responsive]="{ 'bootstrap': ['xs','sm']}" (changes)="listenchanges($event)"></template>`

[2016-10-20 15:33] Judahh opened #42 "Error: XHR error (404 Not Found) loading http://localhost:8000/ng2-responsive"
Hi I'm receiving this error:
Error: XHR error (404 Not Found) loading http://localhost:8000/ng2-responsive

AppModule (path:"project"/App/AppModule):
...
import { ResponsiveModule, ResponsiveConfig, ResponsiveConfigInterface } from 'ng2-responsive';
...
@NgModule({
  imports: [
    BrowserModule,
    FormsModule,
    routing,
    HttpModule,
    ResponsiveModule,
    InMemoryWebApiModule.forRoot(I

[2016-10-21 10:01] demiro commented on #42
well, looks like you didn't do `npm install`

[2016-10-21 12:07] ClaudioKirchmair opened #43 "Add BrowserInfo and DeviceStandardInfo directive to Module."
It would be a good idea to give access to BrowserInfo and DeviceStandardInfo directives. Should be a super quick win. Changes are marked with **bold**.

**ng2-responsive\index.d.ts**
2: import { ... , **DeviceStandardInfo** } from './devices/devices-directives';
5: import { ... , **BrowserInfo** } from './browsers/browsers-directives';
11: export declare const RESPONSIVE_DIRECTIVES: ( ... **| type

[2016-10-21 14:52] chpasha commented on #37
I was able to solve a problem after moving ResponsiveModule into the main app module declaration. Before that it was declared in SharedModule and imported by other lazy modules.

P. S. I was celebrating too early. I didn't get any errors anymore, but the responsive directives didn't work either

[2016-10-22 16:53] Judahh commented on #42
Yes. I did it! I have the package. And it doesn't work.

[2016-10-24 22:56] ManuCutillas commented on #40
First dev version with AOT compilation in branch: [aot-dev-branch](https://github.com/ManuCutillas/ng2-responsive/tree/ng2-responsive-aot).
Although there are many things to solve. ; )

[2016-10-24 22:58] ManuCutillas commented on #43
Solved! Thanks! ; )

[2016-10-24 22:58] #43 closed

[2016-10-24 22:59] ManuCutillas commented on #35
First dev version with AOT compilation in branch: [aot-dev-branch](https://github.com/ManuCutillas/ng2-responsive/tree/ng2-responsive-aot).
Although there are many things to solve. ; )

[2016-10-24 22:59] #35 closed

[2016-10-25 15:39] lfv89 opened #44 "Error when installing with angular-cli"
angular: ~2.0.0
angular-cli: 1.0.0-beta.17
ng2-responsive: ^0.5.0

[code]

[code]

[2016-10-25 17:49] #41 closed

[2016-10-26 19:54] ManuCutillas commented on #44
update your package to 5.2! Thanks!!!

[2016-10-26 20:02] #44 closed

[2016-10-27 01:01] adrexia commented on #44
FYI: I'm on 0.5.2 and getting the same errors.

[2016-10-27 01:38] iDev0urer opened #45 "Cannot find module './bootstrap/bootstrap-directives'."
When trying to use webkit I'm getting the error `Cannot find module './bootstrap/bootstrap-directives'.`

When I look in `node_modules/ng2-bootstrap/index.d.ts` I see lots of red squiggles because there aren't any typescript files, only .js files

[2016-10-27 05:25] ManuCutillas commented on #45
Ok, let me see. Install 4.8 or 4.9 while fix the error. Sorry. ; )

[2016-10-27 05:27] ManuCutillas commented on #44
Ok, let me see. Install 4.8 or 4.9 while fix the error. Sorry. ; )

[2016-10-27 23:32] jacksonrkj opened #46 "ng2-responive installed in node_modules folder but app can not find ng2-responsive sub modules"
I installed ng2-responsive in application's node-modules folder as instructed and made changes to the app.module.ts file. as shown below.  I am running with Angular 2, version 2.1.1. When I start the app, it gives the following errors:

**Errors**
==============================================================
node_modules/ng2-responsive/index.d.ts(1,90): error TS2307: Cannot find module './bootstr

[2016-10-28 13:35] hassanasad commented on #45
Yeah i am facing similar issue. I have these errors when using angular-cli (beta 18):

[code]

EDIT:
**P.S: Sorry, i noticed similar issue is already reported.**

[2016-10-28 15:52] watzon commented on #45
@hassanasad pretty sure that's about the same trace I got

[2016-10-29 10:38] ManuCutillas commented on #46
Hi! I hope to solve all the bugs today. ; )

[2016-10-29 10:38] ManuCutillas commented on #45
Hi! I hope to solve all the bugs today. ; )

[2016-10-29 20:38] theotherdy commented on #46
Same problem here: http://stackoverflow.com/questions/40314185/angular-2-seed-referencing-node-modules-such-as-ng2-responsive...assumed it was me doing something wrong as I understand very little of the angular2-seed I'm using.

[2016-10-30 05:13] ManuCutillas commented on #46
I've just release 6.1 - can you give it a go and see if it resolves your problem.

[2016-10-30 05:14] ManuCutillas commented on #45
I've just release 6.1 - can you give it a go and see if it resolves your problem.

[2016-10-30 05:15] ManuCutillas commented on #40
I've just release 6.1 - First release with AOT support. ; )

[2016-10-30 06:08] watzon commented on #45
@ManuCutillas seems to be working for me now

[2016-10-30 06:09] #45 closed

[2016-10-30 10:28] hassanasad commented on #46
@ManuCutillas Thanks for the fix - it did fix the issue for me :)

[2016-10-30 10:49] theotherdy commented on #46
Me too - thanks for sorting that out so quickly. Looking forward to using it.

[2016-10-30 10:53] ManuCutillas commented on #46
That´s great.  ; )
if you have any errors. I'm here.

[2016-10-30 10:53] #46 closed

[2016-10-30 10:56] ManuCutillas opened #47 "I´m working in fix this error in rollup library. : )"
'ResponsiveConfig' is not exported by node_modules/ng2-responsive/index.js (imported by public/compiled-aot/src/app/app.module.js). For help fixing this error see https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module

Error: 'ResponsiveConfig' is not exported by node_modules/ng2-responsive/index.js (imported by public/compiled-aot/src/app/app.module.js). For help fix

[2016-10-30 11:54] ManuCutillas commented on #44
I've just release 6.1 - can you give it a go and see if it resolves your problem.

[2016-11-01 09:02] ManuCutillas commented on #47
Fixed!

Add the reference in rollup-config.js file. : )
commonjs({
        include: [
          'node_modules/rxjs/**',
          'node_modules/ng2-responsive/**'
          ]
      })

[2016-11-01 09:02] #47 closed

[2016-11-02 10:10] #40 closed

[2016-11-02 13:02] ocarreterom opened #48 "Export missing for `ResponsiveConfigInterface`"
Export missing for `ResponsiveConfigInterface`.

[2016-11-03 10:13] ManuCutillas commented on #48
jum...., sorry.

Sorry, in my tests to implement AOT. Remove ResponsiveConfigInterface and I forgot to add in the last release. This afternoon I fix it. ; )

Look at the NG2 branch with its configuration for AOT.
[Config without ResponsiveConfigInterface](https://github.com/ManuCutillas/ng2-responsive/blob/ng2-responsive-aot/demo/src/app/app.module.ts)

[2016-11-03 11:29] dmastag commented on #37
Having the same issue on Ionic2.
Could this be a problem in webpack2?

[2016-11-03 22:13] ManuCutillas commented on #48
0.6.5 - Fixed!

Thanks Oscar. ; )

[2016-11-03 22:13] #48 closed

[2016-11-07 21:49] jkyoutsey opened #49 "Can't find ResponsiveConfigInterface"
I had to explicitly dig into the folder structure to find it since the index.d.ts in the config folder doesn't explicitly export the interface.

[code]

[2016-11-08 09:24] ManuCutillas commented on #49
jum!

This fault is solved in v0.6.5. I was wrong on the upload and uploaded it to npm as a beta.

Upgrade to 0.6.5 and this afternoon will raise the release to 0.6.6.

Thanks! ; )

[2016-11-08 20:31] ManuCutillas commented on #49
update your package to 0.6.6.

; )

[2016-11-08 20:31] #49 closed

[2016-11-09 14:09] lax20attack commented on #32
Is there an example configuration with SystemJS?  I do not see a systemjs.config.js file anywhere.

I am getting the same 404's due to the assumed file paths in ngr-responsive/index.js.

For example, I believe this:
var bootstrap_1 = require('./bootstrap');

Should be:
var bootstrap_1 = require('./bootstrap/index.js');

[2016-11-14 15:42] michaeljota commented on #40
@ManuCutillas  Meaning this module from master is compatible with AOT?

[2016-11-14 15:42] michaeljota commented on #39
I think this should be documented.

[2016-11-14 17:31] PickleyD commented on #32
I have the exact same configuration as the original post but I get a lot of 404s.

Has something changed since then?

[2016-11-14 19:00] ManuCutillas commented on #40
@michaeljota yes, look at the [aot-demo](https://github.com/ManuCutillas/ng2-responsive/tree/ng2-responsive-aot/demo) branch to know how to use it with AOT implementation.

; )

[2016-11-14 19:13] michaeljota commented on #40
Thanks! 👍

[2016-11-22 10:32] well-made opened #50 "Is it possible to update the Dependencies to support newer versions."
Getting these errors when trying to run `npm i ng2-responsive --save`.
Is it possible to update dependencies of this plugin or would that break it?

[code]

[2016-11-22 14:04] ManuCutillas commented on #50
Ok!
This afternoon I fix it. ; )

Thanks well-made.

[2016-11-22 14:41] svondervoort commented on #50
And thank you 👍  for this great plugin

[2016-11-22 14:41] #50 closed

[2016-11-24 07:56] svondervoort commented on #32
Unfortunately I'm having the same problem as @lax20attack and @PickleyD.
Have everything set up like @p5hema2 but no luck.

[2016-11-24 20:53] michaeljota commented on #40
@ManuCutillas btw... if this support AOT out of the box, you should update the README then. :)

[2016-11-30 10:43] svondervoort commented on #42
Are you using Systemjs or Webview?

Systemjs.config.js
[code]

[2016-11-30 10:44] well-made opened #51 "sub files not found"
I know this has been reported before, and it was fixed, but for some reason I get the following console errors:

[code]

Looks like it is looking for file which should be in a sub-folder but it's looking for them in the root folder of the plugin.

Is it something I did wrong?

[2016-12-18 13:25] ethmelly opened #52 "Small typo in src/config/responsive-base.ts"
`
case "pixelratio":
                    this.set_active_subscriptions.pixelratio == true;
                    break;
`
should be only
`
this.set_active_subscriptions.pixelratio = true;
`
Also really nice work keep it up.
Would be nice if you could support angular2-universal, i know it's a bit complicated.
 I`ve adapted the code for me to support it but it would break for people who don't use univ

[2016-12-20 05:05] gregjacobs opened #53 "Service which exposes size state"
Hey, would like to be able to use ng2-responsive in my TypeScript code as well. Is there any service that exposes this right now?

For instance, would like to be able to do:

[code]

[2016-12-30 15:06] renooo commented on #32
@well-made you can try declare every path explicitely in your **systemjs.config.js** :

[code]

[2017-01-01 19:34] ManuCutillas commented on #51
Hi,
Please, let me see more info of your proyect config.

Thanks!

[2017-01-01 19:38] ManuCutillas commented on #52
Hi! Thanks for your suggestion. : )

I want to work for a compatibility for universal. If you want to create a thread and see how to give ng2-responsive functionality for an initial render. ; )

[2017-01-01 19:40] ManuCutillas commented on #53
Interesting, thank you.
I will look to give this functionality to the library. ; )

[2017-01-01 19:44] ManuCutillas commented on #32
Ok! Let me see. ; )

[2017-01-02 13:44] svondervoort commented on #51
Thanks for looking into it.
This is my `systemjs.config.js`, if you want anything else just let me know.

I currently don't have it loaded into my `app.modules.ts`.

[code]

[2017-01-02 13:45] svondervoort commented on #32
@renooo thats a possibility but should be necessary of course :)

[2017-01-05 14:42] rotsheide opened #54 "Error: 'ResponsiveModule' is not exported by node_modules/ng2-responsive/index.js"
I would really like to use the ResponsiveModule in my Angular2 project but I can't get it to run.

If I run the project on my local server it will not pass the 'Loading' message without any helping error messages in the console.
But when I run my release script I see this:
Export 'ResponsiveConfig' is not defined by '/Users/Bart/Documents/www/pegasus-ceRegistrar/bin-debug/aot/src/application/Appli

[2017-01-08 14:22] nolafs opened #55 "core_1.provide is not a function"
Hi,

I am getting the following error:

core_1.provide is not a function
    at index.js:67

Any idea?

Cheers
Olaf

[2017-01-09 16:23] carlosdv4 opened #56 "directives is not used on angular2 any more..."

[2017-01-09 16:26] jcdsr commented on #56
Like on this sample on your npmjs.com page

@Component({
   selector: 'my-component',
   template: '
        <p *showItStandard="['iphone','ipad']">I'll show you if I'm a iPhone or ipad device.</p>
        <p *isIphone>I'll show you if I'm a iPhone device.</p>
        <p *isChrome>I'll show you if I'm a chrome browser.</p>
        <p *xl>I'll show you if I'm a xl screen size.</p>
        <p *lg>I'

[2017-01-09 16:55] jcdsr commented on #56
the package is not working as your installation guide. I use the quickstart files from angular2 docs.

[2017-01-09 17:18] jcdsr commented on #56
I make it work on my test., because your documentation is wrong for all the 404 problems

**on system.config.js**

I add on map.....

map: {

      'ng2-responsive': 'npm:ng2-responsive',

    },

I add on packages.....

    packages: {
      // ng2-responsive
      'ng2-responsive/bootstrap': {
        main: './index.js',
        defaultExtension: 'js'
      },
      'ng2-responsive/browsers': {

[2017-01-09 17:22] jcdsr opened #57 "*isPortrait and *isLandscape wrong on viewports"
If I use the responsive viewport on chrome, and then select and iphone 6 portrait view.

The code will show this code on portrait:

<p *isLandscape>I'll show you if I'm a landscape state.</p>

If I rotate to landscape the code will show this:

<p *isPortrait>I'll show you if I'm a portrait state.</p>

[2017-01-09 17:24] jcdsr commented on #56
however,the directives as my first message is not working

[2017-01-09 17:31] carlosdv4 opened #58 "window resize?"
Do you have something when someone resizes the window on the browser? I mean if I resize the browser the code doesn't work, I need to reload the page in order to show the correct element.

[2017-01-09 23:49] ManuCutillas commented on #54
Update to "ng2-responsive": "^0.6.7".

Set this config in your systemjs file:
[code]

Tell me if that works! ; )

[2017-01-09 23:50] ManuCutillas commented on #56
Update to "ng2-responsive": "^0.6.7". ; )

[2017-01-09 23:50] #56 closed

[2017-01-09 23:52] ManuCutillas commented on #51
Update to "ng2-responsive": "^0.6.7" and tell me if that works! ; )

thanks!

[2017-01-09 23:52] #51 closed

[2017-01-09 23:53] ManuCutillas commented on #42
Update to "ng2-responsive": "^0.6.7" and tell me if that works! ; )

Thanks!

[2017-01-09 23:53] #42 closed

[2017-01-09 23:54] ManuCutillas commented on #32
Update to "ng2-responsive": "^0.6.7".

Thanks!

[2017-01-09 23:54] #32 closed

[2017-01-10 08:28] rotsheide commented on #54
Hello Manuel,

It works!!!!!

Thanks for all the work. Really appreciate it!!

Bart

[2017-01-10 08:28] #54 closed

[2017-01-11 16:19] demiro opened #59 "Please replace all the rxjs/Rx with rxjs/rx"
It causes a warning on my build that duplicate libraries are trying to be loaded..sonce everyone uses normal rxjs/rx... and only you rxjs/Rx

Cheers

[2017-01-11 18:12] ManuCutillas commented on #59
Ok! Thanks! 😋

[2017-01-11 22:35] ManuCutillas commented on #59
Update your package to 0.6.8. ; )

[2017-01-11 22:35] #59 closed

[2017-01-11 22:41] demiro commented on #59
cheers...that was quick! thanks

[2017-01-12 15:23] hassanasad opened #60 "Warnings after latest update 0.6.9"
After the recent update (0.6.9) i have started getting these warning. My RxJS is at version 5.0.3

[code]

Anything i can do to fix it?

[2017-01-12 16:52] ManuCutillas commented on #60
jum! Let me see.

Thanks! ; )

[2017-01-12 23:00] gepisolo commented on #60
Same error for me. I can see require('rxjs/rx') in config.js but I suppose it should be require('rxjs/Rx') ... uppercase... according to the filename you're requiring

[2017-01-13 03:07] hassanasad commented on #60
BTW - Why dont we import it from `rxjs` directly rather than `rxjs/rx` ? I believe rxjs exports are all present in the barrel file.

[2017-01-13 08:56] RatkoR opened #61 "Can't resolve 'rxjs/rx'"
Hi all,

after updating to angular-cli.beta.25 we get an error in ng2-responsive:

[code]

is it something we can fix locally?

[2017-01-13 12:47] ManuCutillas commented on #61
Bug reported. I fix it this afternoon. ; )

Thanks!

[2017-01-13 12:48] ManuCutillas commented on #60
Bug reported. I fix it this afternoon.

Thanks!!

[2017-01-13 13:11] sconix commented on #53
We are going to need this as well in our project, I can see if I could make this today.

BTW. ManuCutillas whats the status of responsive-css? Have you done any work with that and has there been some problems implementing it? We need this as well and I could have try with adding this if you are not actively working with this.

[2017-01-13 20:36] ManuCutillas commented on #61
Fixed on 0.7.1.

Thanks!

[2017-01-13 20:37] ManuCutillas commented on #60
Fixed on 0.7.1.

Thanks!

[2017-01-13 20:41] RatkoR commented on #61
That's great! Thank you

[2017-01-13 20:41] #61 closed

[2017-01-13 21:05] #60 closed

[2017-01-14 12:09] hassanasad commented on #60
Thanks @ManuCutillas ! The warnings went away after the update.

[2017-01-16 07:37] FriOne opened #62 "Not works with onPush ChangeDetectionStrategy"
When use onPush blocks are showing but there is no content. Are these directives can call rerender after screen size changes?

[2017-01-17 05:20] kevinthr commented on #57
+1 (logic seems to be backwards?)

[2017-01-17 07:46] ManuCutillas commented on #53
Hi Janne!

I am not currently working on this. If you want to implement
Responsive-css and perform a pull-request, great!

You are free to create what you need.

Thanks Janne. ; )

El 13/01/17 a las 14:11, Janne Julkunen escribió:

[2017-01-17 07:49] ManuCutillas commented on #53
Hi Janne!

I am not currently working on this. If you want to implement Responsive-css and perform a pull-request, great!

You are free to create what you need.

Thanks Janne. ; )

[2017-01-17 11:40] sconix commented on #53
I deleted my message since I noticed that angular team has release flex-layout library which might solve both of these problems for us.

At least they are saying that it would have similar feature to responsive-css in near future using ngClass or similar mechanism.

And since that library already provides a service to get the current size alias so that will also fill my current needs.

If the flex

[2017-01-21 18:32] kalyan1102 opened #63 "rxjs/rx import issue only in linux"
Hi,
I am getting and error that config.d.ts not able to import observable from rxjs/rx. I have seen that you have already fixed that item in your latest build. But If I install using npm i ng2-responsive its saving "ng2-responsive": "^0.6.9" in which the issue is still exist. Can you please let me know which version I should install.
this is the exact issue:
ng2-responsive/config/config.d.ts(3,28)

[2017-01-22 07:26] ghost commented on #53
This feature, to have a service, is a requirement for us. Any plans to implement this @ManuCutillas  ?

[2017-01-24 17:26] rhafner commented on #62
+1
I'd love to see this enhancement implemented.

For now I'll go with the following workaround: The constructor of the component inside a show/hide directive always gets called. When I add a ChangeDetectorRef and call markForCheck I can trigger my component to get rendered,

[code]

@ManuCutillas I don't know if that helps, but maybe you can "mark for check" when showing an element

[2017-01-27 10:45] hassanasad opened #64 "Minor jerk when changing window sizes"
Hi,

I am using the `*showItBootstrap="['md','lg']"` and `*showItBootstrap="['sm','xs']"` directives on two different `<div>` tags.
When i am resizing my browser window there is a slight jerk between the two transitions. Its only a fraction of a second but makes the page content jump up and down slightly.

Now it wont be fair to say its a bug because i am sure the developer is using correct logic

[2017-01-30 11:55] fenta23 commented on #63
got the same error. its the lowercase /rx in
`import { Observable } from 'rxjs/rx';`
changed it in Rx then it was okay.

it's in   "version": "0.7.2",

[2017-02-02 02:21] rg1220 commented on #62
+1

[2017-02-03 07:04] ManuCutillas commented on #63
Ok! Let me see. Thanks! 👍

[2017-02-03 07:05] ManuCutillas commented on #62
Thanks! Let me see. 😉

[2017-02-03 12:30] michalstepien commented on #63
On windows I have the same issue.  After update from "0.6.6" to "0.7.2"

[2017-02-05 23:55] ManuCutillas commented on #62
Update to ng2-responsive 0.7.4 and tell me if thats work. ; )

[2017-02-05 23:55] ManuCutillas commented on #63
Update to ng2-responsive 0.7.8 and tell me if thats work. ; )

[2017-02-05 23:57] ManuCutillas commented on #53
Yes, during this week I will work on it.

Thanks! ; )

[2017-02-06 14:46] rg1220 commented on #62
@ManuCutillas - Thanks for looking into this! But I'm running into an issue:

Created a common module so we can do whatever setup we need (which right now there is none):
[code]

I then import that module into any modules that I need the responsive directives.

@0.7.2 - Everything works fine
@0.7.4 - I get a build error of: `ERROR in ResponsiveModule is not an NgModule`

[2017-02-06 15:53] ManuCutillas commented on #62
jum! Ok! Work on it! Thanks Randy. : )

[2017-02-06 20:16] ManuCutillas commented on #62
Update to 0.7.5. And tell me if that bug has been fixed.

[2017-02-06 21:12] rg1220 commented on #62
@ManuCutillas - No dice. Same error.

[2017-02-07 08:04] ManuCutillas opened #65 "ERROR in ResponsiveModule is not an NgModule"
It is an error when compiling. I check tonight and update the lib without this bug.

[ ng2-responsive  bug] 0.7.3 / 0.7.4 / 0.7.5 - Before that ng2-responsive works.

Same issue => https://github.com/angular/angular-cli/issues/3426

Sorry for the inconvenience. : )

[2017-02-07 11:06] ManuCutillas commented on #62
@rg1220 - It´s an error when compiling. I check tonight and update the lib without this bug. ; )

[2017-02-07 22:20] ManuCutillas commented on #65
Solved in [ ng2-responsive : "0.7.8" ] ; )

[2017-02-07 22:20] #65 closed

[2017-02-07 22:20] ManuCutillas commented on #62
Solved in [ ng2-responsive : "0.8.3" ] .

[2017-02-07 22:21] ManuCutillas commented on #63
Solved in [ ng2-responsive : "0.7.8" ] ; )

[2017-02-07 23:35] jarzimichal commented on #58
I do have the same problem.
I need to fully reload the page to show the correct elements depending on screen size.
I tried with *responsive="{ bootstrap: ['xl,lg,md,sm,xs'] }" and *responsive="sizes:{min:900,max:1400}"

When I refresh the page, the rule works fine. However when I resize the screen to the specific breakpoint, the rule is not applied...

Would be great to have that fixed as this is

[2017-02-08 09:08] fenta23 commented on #63
Thanks Manu,
it also works now under linux.

Micha.

[2017-02-08 09:10] ManuCutillas commented on #63
Thanks @fenta23  😉

[2017-02-08 11:28] hassanasad opened #66 "__decorate is not defined error"
After the update to 0.7.8 i have started getting the following errors in my console

[code]

I am using angular-cli 1.0.0-beta.30 with node 7.5.0 on macOS

Edit: Changed version to 0.7.8

[2017-02-08 11:35] ManuCutillas commented on #66
In 0.7.8 also happens? : )

Thanks hassanasad !

[2017-02-08 11:36] hassanasad commented on #66
oh sorry - i meant to say it started happening in 0.7.8 (not in 0.7.7) :)

[2017-02-08 11:37] ManuCutillas commented on #64
Hi @hassanasad !
I'll look at how to add a configurable css transition. ; )

Thanks!

[2017-02-08 12:14] #63 closed

[2017-02-08 23:09] ManuCutillas commented on #66
Fixed, update to ng2-responsive : 0.8.3.

Thanks, @hassanasad

[2017-02-09 10:34] hassanasad commented on #66
Thanks @ManuCutillas - everything is now back to normal again :)

[2017-02-09 10:34] #66 closed

[2017-02-14 12:54] michalstepien commented on #63
For me it doesen't work.

ERROR in ./~/ng2-responsive/config/config.js
Module not found: Error: Can't resolve 'rxjs' in 'ng2-responsive\config'
 @ ./~/ng2-responsive/config/config.js 5:13-28

[2017-02-24 14:10] photostu opened #67 "Q: Is there a way to use directives for size or larger?"
This could be a feature request
Say I want to toggle 2 elements based on 1 breakpoint... if size is xs or sm, show 1 element, if size is greater than sm, show the other element.

Thoughts?

It seems at current that one can only do this with specific sizes min/max feature.

[2017-02-24 14:29] photostu opened #68 "FR: Apply classes based on breakpoint size"
similar to the way you can do [class.hidden]="amIHidden" with core ng2

Something like this would be stellar :-)
[class.iamsmall]="{max:768}"

(or whatever syntax is appropriate.

[2017-02-24 14:45] lchimaru opened #69 "Combining with component's variable"
Is there any way to combine ng2-responsive directives together with boolean variables to show or hide element on certain screen size/type and variable value? I mean way to show div below:
`<div *isDesktop&&foo>I'm only showed on desktop and when foo is true.</div>`

[2017-03-01 01:14] jlf123 commented on #53
any update on this feature?

[2017-03-01 11:03] lchimaru commented on #69
Nevermind, my problem can be solved by [https://github.com/ManuCutillas/ng2-responsive/issues/53](url). I'm looking forward to such feature!

[2017-03-01 11:03] #69 closed

[2017-03-02 11:31] hassanasad opened #70 "Add a css class based on device"
Hi, Is there a way to add a class such as 'iphone' or 'ipad' to an element using code logic?

For instance something like:
[code]

[2017-03-16 14:33] klanglie opened #71 "Does your directive hide or remove from DOM"
I was curious if your directive simply hides a component or removes it from the DOM entirely? I am thinking in terms of how my team might use this to cut down on component initialization and duplicate server calls, if we try to build a responsive type layout with more than one of the same type of component added for a different screen resolution (hidden based on css media queries). That is our des

[2017-04-04 07:32] brgrz commented on #54
After adding this I get the following error:

`GET http://localhost/PromInfo/node_modules/rxjs/ 403 (Forbidden)
(anonymous) @ zone.js:834
fetchFetch @ fetch.js:32
(anonymous) @ instantiate.js:167
ZoneDelegate.invoke @ zone.js:334
Zone.run @ zone.js:126
(anonymous) @ zone.js:713
ZoneDelegate.invokeTask @ zone.js:367
Zone.runTask @ zone.js:166
drainMicroTaskQueue @ zone.js:546
(index):63 `

[2017-04-04 07:50] brgrz commented on #54
even after further debugging doesn't work..removing these lines and systemjs works again, so it must be something with ng2-responsive

[2017-04-04 08:49] brgrz commented on #54
I was able to get past the zone error by modifying the systemjs config file from this

`			rxjs: {
				defaultExtension: 'js'
			}
`

to this

`			rxjs: {
				main:'./bundles/rx.min.js',
				defaultExtension: 'js'
			}
`

since you use require('rxjs') (you are not requiring subcomponents in a way this is typically done when starting from angular 2 quickstart templates)

but I'm now faced with erro

[2017-04-04 08:52] brgrz opened #72 "Doesn't work at all with typical angular 2 configuration"
Spent 3 hours trying to make this work in a angular 2 quickstart app but had numerous issues with SystemJS and loading modules/directives.

Some of my attempts are documented in this issue https://github.com/ManuCutillas/ng2-responsive/issues/54

The docs really don't cover it or the instructions are wrong.

[2017-04-04 09:32] brgrz commented on #54
Ok, apparently in only works if you import the ng2-responsive module within the root app.module but not in other modules, don't know why.

HTH

[2017-04-04 13:00] rotsheide commented on #54
After leaving the project for a couple of months, I found that I had the same problem. The solution suggested by brgrz does work with my project (Thanks brgrz!).
I also found that the ng2-responsive module is only working in the root app.module. But in my project I have another module where I can import the ng2-responsive module. When I do that I can make it work in my complete project.

[2017-04-04 14:01] tulde23 opened #73 "Source Maps"
When using ng2-responsive with WebPack, I get many warnings stemming from the .map.js files.  It appears you have your local path set.  For example,  an excerpt from src/index.map.js

{"version":3,"file":"index.js","sourceRoot":"/Users/apple/Desktop/ng2-responsive/src/","sources":["client/app/home/responsive/index.ts"]

Can you fix this?

[2017-04-04 17:50] brgrz commented on #54
Well, for me the directives are not working correctly. I was able to import ng2-responsive and have it load without errors but when I appliy the directives to HTML tags those elements do not get rendered at all (no matter the breakpoints/orientiations/etc.)

[2017-04-06 07:07] lchimaru commented on #53
I can't wait to have that feature too. Hope it will be implemented soon :)

[2017-04-10 13:37] angelnikolov opened #74 "Whole RxJs library is imported in output bundle"
Hello, first thanks for making this library available for general use!
I've been using it in my project and I've noticed that here https://github.com/ManuCutillas/ng2-responsive/blob/master/src/config/config.ts#L4
you import `Observable, Observer, Subscription` from `rxjs` directly, which actually imports the whole rxjs library in the output bundle.
We noticed that when we used `sourcemaps-explore

[2017-04-10 13:49] angelnikolov commented on #74
Added a PR that fixes the issue. #75

[2017-04-15 11:32] ManuCutillas commented on #74
Thanks! Angelnikolov. ; )

[2017-04-24 13:47] michaelfaisst commented on #53
Would be really interested in this feature too. Any updates on it @ManuCutillas? Any help needed with it?

[2017-04-28 11:49] yboujallab opened #76 "Error while using directive"
Hi,

I'm getting the following error, i'm using 0.8.3 version, and the module ResponsiveModule has been imported.
Property binding showItStandard not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations".

As i understood, no need to import RESPONSIVE_DIRECTIVES any more.
What i'm missing h

[2017-05-05 13:15] hassanasad opened #77 "Feature request: Allow conditions as part of *ngIf"
This library gives really good helpers to use on their own such as:

`<p *hideItBootstrap="['lg','sm']">I'll hide you only in lg and sm screen sizes.</p>'`

However, its currently not possible to add them as part of a condition using *ngIf.

For instance i cannot do this:

`<p *ngIf="type == 'category' && hideItBootstrap['lg', 'sm'] ">I'll hide you only in lg and sm screen sizes when type is categ

[2017-05-06 16:07] ManuCutillas commented on #74
@angelnikolov Updated with "ng2-responsive": "^0.8.4". Thanks Angel.

[2017-05-06 16:07] #74 closed

[2017-05-06 16:10] ManuCutillas commented on #73
Yes! Fixed in "ng2-responsive": "^0.8.4". Thanks @tulde23 .

[2017-05-06 16:10] #73 closed

[2017-05-06 16:34] ManuCutillas commented on #77
Yes, thanks @hassanasad. Let me see how we can do this. ; )

[2017-05-06 16:37] ManuCutillas commented on #76
Hi @yboujallab , as you say when you import the module you should not need to redeclarate the directive. Please tell me if you find anything else about this error. : )

[2017-05-06 16:39] ManuCutillas commented on #72
Hi @brgrz ,
Let me see what happens, use the standard configuration for Angular of systemjs? : )

[2017-05-06 16:40] #62 closed

[2017-05-08 14:09] queejie opened #78 "Using Info in Component (for db)"
Thanks for this module!  I am trying to use it to store information about the client in a database table, collecting information on login.  Is there any way to get to the information without a subscription?  I am trying this, but I know the items are private, and most do not have values at the time of access.

[code]

Thanks in advance.

[2017-05-08 15:38] queejie commented on #78
I'm calling this information from a login/session service, so OnInit is not available.  The subscription doesn't seem to be working within the constructor of the service.

[2017-05-09 07:30] hassanasad commented on #64
Hi @ManuCutillas, The show/hide bootstrap operations take a little delay to trigger. Maybe like 300 to 500 ms. Is there a way to reduce this delay? Perhaps the changeDetector can be triggered earlier or the logic complexity can be reduced to see if it helps reduce the delay.

I am using MacOS Seirra and Chrome (v58)

[2017-05-28 01:43] MitchTalmadge opened #79 "Incorrect Bootstrap breakpoints."
I assume you are going off the Bootstrap v4 breakpoints, since there is no "xl" in Bootstrap v3. In that case, the breakpoints are incorrect [here](https://github.com/ManuCutillas/ng2-responsive/blob/master/src/config/config.ts#L24).

Currently:
[code]

Actual:
[code]

[2017-06-07 16:00] RuneKR commented on #53
Hi,

use ResponsiveState and then subscribe to changes with observables like this:

[code]

[2017-06-07 21:08] ghost commented on #53
I've moved away from `ng2-responsive` due to this not being resolved, I've created my own service. On window.resize I trigger change detection. Works like a charm, I can use it in both TS as well as in HTML, and it works on resize.

Sorry for hijacking this issue but I hope it's beneficial to people.

[code]

[2017-06-25 21:52] frkwhiteangel opened #80 "Way to test"
Is there a way to simulate each one of the stages, with for example screen resizing, for testing purposes only instead of using acual phone?

[2017-06-28 11:48] itanev opened #81 "Non of the directives seem to work, what am I missing ?"
Hi,

I have a very simple scenario. I want to show a select element if the device is mobile or tablet.

I have this code:

[code]

in my component I have imported the responsive module like this:

`import { ResponsiveModule  } from 'ng2-responsive'`

in my app module I have bootstraped the module like it is described in the docs:

[code]

The problem is that this does not work. When I am on deskto

[2017-06-28 12:31] itanev commented on #81
I found the issue. You need to refresh the page when you change between devices.

You can close the issue.

[2017-06-30 18:37] hbruno commented on #70
Hi, I'm interested in the same question. Currently Im doing a horrorous hack

[code]

I calculated isFixed based in the scroll, in this view I have other elements that use the same variable isFixed.

[2017-07-10 21:37] LFeh opened #82 "Change project name to ngx-responsive"
Thus this project going to be aligned with other Angular projects.

Do you agree?

[2017-07-16 07:48] maciejtreder opened #83 "contrubition instructions + repo cleanup"
Hello,

I would like to contribute to this package (I need an Angular Universal support). Are you going to update your contribution.md file? There is also a lot of cleanup todo here (we could remove all lines not related to ts, create travis job etc. etc.)

[2017-07-24 12:59] beqa7137 opened #84 "doesn't support server-side rendering (Angular Universal)"

[2017-07-25 20:52] ManuCutillas commented on #83
Hi @maciejtreder,
Sounds good, you're free to change all this. Make a pull request with the changes and I add you as a contributor to github and npm.

[2017-07-25 20:53] ManuCutillas commented on #82
Hi @LFeh,
Yes, its a good idea. ; )

[2017-07-25 20:56] ManuCutillas commented on #84
Yes, it should be compatible with universal. I would like to have time to update this.

Thanks @beqa7137 !

[2017-08-04 13:37] RaphyLi commented on #77
@ManuCutillas any news on this feature?

[2017-08-09 16:08] snewell92 commented on #53
[Here's a gist of another variant of the service](https://gist.github.com/snewell92/57aa0e064be3f3098a3cf147d1a5659d) given by @rolandoldengarm - it doesn't rely on application ref, but rather subscriber functions. I also thought about using an event emitter - but I like the simplicity of the subscriber functions. I was getting errors when calling `applicationRef.tick` 😢. Mine also is opt-in for s

[2017-08-30 16:48] zhangboy0509 opened #85 "Conflict with primeng"
I'm getting a No provider for TemplateRef! error when using primeng as soon as I include ResponsiveModule from ng2-responsive in my project even if I don't use any directives from it. Any idea what could cause the problem?

I'm using angular2 2.4, primeng ULTIMA and ng2-responsive 0.8.4
I saw that on primeNG, they said PrimeNG Table has its own responsive mode. They can't support all 3rd party ng*

[2017-09-05 03:28] geetee24 opened #86 "isPortrait and isLandscape return wrong values on Chrome (DevTools as Simulate any phone)"
when device is in portrait mode, *isPortrait returns FALSE and *isLandscape returns TRUE.

logic is hence reversed.

[2017-09-13 09:25] lafiza opened #87 "how to use the bootstrap service with custom configuration in components"

[2017-09-13 09:27] lafiza commented on #87
`
    with custom Configuration

 import { NgModule } from '@angular/core'
 import { ResponsiveModule, ResponsiveConfig } from 'ng2-responsive'
 ...
 let config = {
    breakPoints: {
        xs: {max: 600},
        sm: {min: 601, max: 959},
        md: {min: 960, max: 1279},
        lg: {min: 1280, max: 1919},
        xl: {min: 1920}
    },
    debounceTime: 100 // allow to debounce checking time

[2017-09-13 13:40] aiqingyuyan opened #88 "Error: Can't bind to 'showItBootstrap'"
Got an error when using the directive showItBootstrap to apply multiple size options:
[code]

[2017-09-15 03:49] marcodafonseca commented on #84
Any chance the angular-universal support has a due date for when it might be made available?

[2017-09-18 14:50] nikhil5467 commented on #46
Hi
For me responsive module is still not working .
I want to make a responsive app but when i am trying to import responsive module it's giving me error.

App module.ts
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { HttpModule } from '@angular/http';
import { ResponsiveState, ResponsiveConf

[2017-09-18 15:27] nikhil5467 commented on #46
Please help on this

[2017-09-30 05:14] geetee24 opened #90 "All hideIt, showit fail when printing the page"
printing an app in Chrome., chrome decides that the page is XS mobile, so your hideit/showit ['xs'] fail

[2017-10-02 16:05] messerbill commented on #86
same problem here - works fine in safari browser. But reversed values for chrome.

[2017-10-02 16:07] geetee24 commented on #86
looks live this codebase is dead.  I posted my issue 28 days ago and author has yet to reply.  I had to reverse my logic to account for his bug  (and then of course) if or when ever he does fix it, my code will break :(

[2017-10-02 16:11] messerbill commented on #86
hopefully he / she was just in his / her holidays :D It would be nice to have this working...

[2017-10-05 09:13] Gnorro opened #91 "How to use isTablet or isMobile in component"
Hi all

It works great using it in html like this:
[code]

But I need to use isDesktop, isTablet etc... inside component.

Is this possible?

thanks

[2017-10-05 22:02] hanvyj opened #92 "Cannot detect Edge (IE12?)"
I'm unable to get the Microsoft Edge to be detected (presumably this is what's refereed to as IE12?)

Neither *isIE12 or *hideIEVersion="['ie 11']" etc function and Edge browser acts as IE11.

I'd be interested if someone else could try it and see if it's reproducible.

[2017-10-06 07:31] acidpops9 opened #93 "*HideIfNot and *ShowIfNot feature"
Is there a way to do *HideIfNot and *ShowIfNot ?

Scenario:
I'm trying to get a div section to show only when the user is on "Chrome, Firefox, Edge or IE11".
Anything else it will hide and show another div saying they should only use the specified browser.

Help appreciated!

[2017-10-16 13:42] ghost commented on #91
I don't think you can do that with this tool, you can however use the [MatchMedia API](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia).

[2017-10-16 13:46] ghost commented on #93
This library hides or shows elements based on media queries or browser detection, it's the entire purpose. You're asking for a feature that basically defines it.

[2017-10-18 15:46] VagrantAI-c commented on #84
+1, I wish for universal support too. Also, I wonder if there's any way to mock directives for server, like we do isPlatfromBrowser() in code

[2017-10-20 06:57] acidpops9 commented on #93
Yes I am aware that the library has a "Hide If" and "Show If" feature.
However, what I'm asking for is an enhancement by having "If Not" being supported.

[2017-10-20 09:59] dominicdsouza1991 opened #94 "Edge browser version 40 specific. ng2-responive installed in node_modules folder but app can not find ng2-responsive sub modules"
I get the following errors in Edge browser version 25 and up. It works on version 20. Working in chrome, firefox and internet explorer
![image](https://user-images.githubusercontent.com/23212062/31815786-6acacf7e-b5ab-11e7-8b3d-1b2a72ba2c36.png)

Refer the above image.

[2017-11-01 22:26] eddiechihyi opened #95 "responsive-windows issue in IE11 and below"
Our project is utilizing the responsive-window feature and it's been working great until we tested in IE. We found that IE11 is throwing below error for any Angular component utilizing responsive-window.

[code]
It seems IE 11 and below can't handle the new Event() in below methods (I manually commented out that line and the issue went away). After doing some research, I found that this is a known

[2017-11-15 07:39] mburger81 commented on #82
now ng2-responsive is called ngx-responsive supporting ng5
@ManuCutillas you can close this issue

[2017-11-15 07:42] #82 closed

[2017-11-16 07:19] #91 closed

[2017-11-16 07:20] #81 closed

[2017-11-16 20:01] DBereznak opened #98 "Errors when removing ng2-responsive from App"
I am trying to remove ng2-Responsive from my App. When I delete the import statement and declaration, and remove it from my package.json file it fails to compile and throws errors that point to methods on rxJS.

ERROR in C:/work/tshq-web/src/app/core/services/cache.service.ts (58,31): Proper                                                             ty 'from' does not exist on type 'typeof Observ

[2017-11-16 23:56] jculverwell commented on #92
Edge is also not working for me either, for example, if use the code below on edge the *isIE check does not display

[code]

[2017-11-20 13:47] DBereznak commented on #98
This issue has been solved. Apparently when we imported ng2-Responsive it inherently brought the rxjs methods with it. So when I was trying to remove it, Other places methods like .from broke because it it could no longer find those methods. So we just imported the methods from rxJS. Took forever to hunt down this though.

[2017-11-20 13:47] #98 closed

[2017-11-22 14:29] rtyx opened #99 "Error: .../sandbox/node_modules/ngx-responsive/src/index.ts is not part of the compilation output. Please check the other error messages for details."
When trying to serve my application I get the following error:

[code]
This is some information about my setup:
[code]
and my app.module.ts

[code]

I read in [this](https://github.com/angular/angular-cli/issues/8284) topic that having TS files in the node_modules folder goes against how libraries should be packaged: libraries should never ship their source .ts files.

I'm not sure if this might b

[2017-11-23 11:24] merihs commented on #99
I have exactly same issue
[code]

[2017-11-23 13:23] carlosost commented on #13
Hi,

Do we have any update about this suggestion?

I would like to be able to do something like: [ngClass]="{'my-class-lg': *lg, 'my-class-sm: *sm}"

Is it possible now? Does *lg, *sm and similar directives return boolean?

[2017-11-24 12:57] mburger81 commented on #99
I have a similar problem on ionic using

`Module build failed: Error: ENOENT: no such file or directory, open '/abc/node_modules/ngx-responsive/index.js`

@ManuCutillas I think the problem could be the new release with the new packaging method. I'm not an big expert on it, can you help us?

[2017-11-24 13:25] mburger81 commented on #99
@ManuCutillas I re forked you project and do a packaging with the npm script and reinstall this local package in my project, after that anything is fine.

@rtyx @merihs you can try to do the same thing?!?

[2017-11-29 15:50] anshap1719 opened #100 "Hides all divs with the responsive directive: No errors in console"
I have 2 divs in my app, one for desktop and one for mobile. I have set the directives as follows:

[code]

The classes "desktop" and "mobile" currently don't apply any styles. Also currently, both of them have the same content but I have modified my sass file to apply styles to elements only inside the "desktop" class. When I inspect element in chrome, I can see the following:

[code]

I reckon t

[2017-12-05 17:51] zoofadoofa opened #101 "elementoObservar should send state window.on('load')"
right now if we subscribe to elementoObservar we only get state when window resizes.
but it should also send state when window loads.

https://github.com/ManuCutillas/ngx-responsive/blob/dda6689f92def8b3e624f3557081bd59ce5464dc/src/config/config.ts#L72

[2017-12-06 22:26] gshireesh commented on #99
@ManuCutillas can you provide the steps to build. when i tried to do `npm run pack`
got this issue.

Building Angular library
Generating bundle for ngx-responsive
Cleaning bundle build directory
Processing assets
Running ngc
Compiling to FESM15

BUILD ERROR
Could not resolve './src/index' from .ng_pkg_build/ngx-responsive/ts/index.js
Error: Could not resolve './src/index' from .ng_pkg_build/ngx-re

[2017-12-09 08:07] RaphaelJenni commented on #99
Same problem here.

[2018-01-05 11:41] ghetolay opened #102 "Angular and rxjs should be peerDependencies"
During this commit https://github.com/ManuCutillas/ngx-responsive/commit/7836d5fb761625349efa33cf5280c1b4ec2d5699 Angular and rxjs where moved from peerDependencies to dependencies.

Those dependencies must absolutely be peer dependencies otherwise if you don't use the exact same version on your project you get duplicates.

[2018-01-05 20:31] HermanMarvel commented on #99
Guys, anybody found a workaround? Doesn't work with Webpack 3 for me as well

@mburger81 could you please provide more details how exactly you solved it with npm pack ?

[2018-01-07 22:10] ManuCutillas commented on #99
Launched a new version that solves the problem of compilation. ==> v3.1.3

[2018-01-07 22:17] ManuCutillas commented on #102
ok, let me see.

Thanks @ghetolay! 👍

[2018-01-07 22:47] ManuCutillas commented on #102
ok, fixed.  ===> v3.1.4.

[2018-01-07 22:47] #102 closed

[2018-01-07 23:37] HermanMarvel commented on #99
@ManuCutillas, thanks a lot.

[2018-01-08 18:25] oscarlagatta commented on #99
Hi @ManuCutillas I don't think this issue should be closed ? I'm still having the same problem with version 3.1.3 and 3.1.4. Is there any update on this library that fixes the compilation ?

[2018-01-08 18:59] ManuCutillas commented on #99
@oscarlagatta can you give me more info about your error? Thanks.

The reference on index.js to ./src/index.js is correct.

node_modules/ngx-responsive/index.js file.
[code]
node_modules/ngx-responsive/src/index.js file.
[code]

[2018-01-08 21:41] elizabeth commented on #99
I'm having the same problem, using the latest version.. Error is the exact same.

[2018-01-08 23:08] ManuCutillas commented on #99
Thanks @erizabesu , the problem must be in the new compilation system. I will try to create a project that fails me like you to solve it. ; )

Issue reopened.

[2018-01-09 12:44] demiro commented on #84
yeah... this is a big issue for us too... it breaks on universal ssr

[2018-01-09 19:47] ManuCutillas commented on #99
Example of compilatión with angular-cli and angular 5.X.X.

**tsconfig.json proyect configuration example**
[code]
Tell me if this solves the problem and I close the issue. @erizabesu @oscarlagatta   ; )

[2018-01-09 20:05] HermanMarvel commented on #99
@ManuCutillas still failing for Webpack 3

 "compilerOptions": {
    "target": "es5",
    "module": "es2015",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": ["dom", "es6", "es2015", "es2016", "es2017"],
    "noEmitHelpers": true,
    "importHelpers": true,
    "skipDefaultLibCheck": true,
    "pretty": true,
    "sourceMap": true,

[2018-01-09 20:13] ManuCutillas commented on #99
Thanks @HermanMarvel .  I will try to create a project with webpack 3. ; )

[2018-01-09 22:21] ManuCutillas commented on #99
New v3.1.6!  Tell me if this version solves the problem. Thanks @erizabesu @oscarlagatta @HermanMarvel @rtyx @RaphaelJenni @merihs @mburger81  ; )

[2018-01-10 00:26] HermanMarvel commented on #99
@ManuCutillas working on webpack 3 without any issues. Will revert if any. Thanks a lot for the quick fix!

[2018-01-10 00:30] HermanMarvel commented on #100
Hi @anshap1719,

Why you don't want to do it like that:

`<div class="desktop" *hideItBootstrap="['xs']">...</div>`
`<div class="mobile" *showItBootstrap="['xs']"}}">...</div>`

[2018-01-10 07:54] #99 closed

[2018-01-10 08:08] mburger81 commented on #99
@ManuCutillas I updated to 3.1.6 but I run still in the same issue

[code]

[2018-01-10 12:29] HermanMarvel commented on #99
@mburger81 Could you please try

rm -rf node_modules
npm clean cache
npm i / yarn install

Also, how exactly yoy import it in your project ? can you share Typescript part ?

[2018-01-10 13:12] mburger81 commented on #99
Naturally I have done a clean install, but that's not the problem.

We load the module in the required module doing this

[code]

[2018-01-10 14:59] HermanMarvel commented on #84
+1. This https://github.com/fgnass/domino partially solve a problem, by define window manually in server.ts file. However, you still will get exceptions like below:

ERROR TypeError: Cannot read property 'width' of undefined
    at new ResponsiveState (C:\Users\Asus\Documents\GitHub\mr-frontend-universal\node_modules\ngx-respon

sive\bundles\ngx-responsive.umd.js:187:43)

[2018-01-10 18:48] ManuCutillas commented on #99
ok @mburger81.  I will try to create a project with ionic. ; )

What version of ionic are you using and what system of compilation do you use? If you use Angular, what version are you using? I have tested the library with the latest version of angular, compilations in webpack 3 and with the cli. And everything worked without problems. : )

[2018-01-11 08:55] beqa7137 commented on #84
btw, here is an interesting SSR alternative for SPA applications
https://github.com/GoogleChrome/rendertron

[2018-01-11 20:15] HermanMarvel commented on #84
@ManuCutillas do you think it worth to put label **help wanted** here?

[2018-01-13 13:07] ImranAhmed commented on #93
The API is not clear. It needs a negation or else statement.

For example I should be able to do this.

in my .ts file I have the following variable

  supportedPlatform = {
    browser: ['chrome'],
    device: 'desktop'
  };

In my template file I should then be able to show an element based on the supportedPlatform variable and an element based on the negation of the supportedPlatform variable t

[2018-01-14 11:19] MatthiasKammerlohr opened #103 "Getting error when dist with angular cli"
Hi,

i am using this config:
import { NgModule } from '@angular/core'
import { ResponsiveModule } from 'ngx-responsive'
...
@NgModule({
    imports: [
      ResponsiveModule
    ],
    declarations: [
      AppComponent
    ],
    providers:[]
})
export class AppModule { }

when dist building 'ng build  --base-href="/admin/" --prod --sourcemap=false' I get the following error:
 'ERROR in : Unexpec

[2018-01-16 15:23] mburger81 commented on #99
@ManuCutillas You deleted your last post? Can I help you resolve this problem?

[2018-01-17 07:57] RogerioTeixeira commented on #103
Same issue !!

[2018-01-18 23:06] philljones commented on #103
Also getting this same issue. Dev works great but prod build fails.

ERROR in : Unexpected value 'ResponsiveModule in C:/projects_git/VPortalNV10/node_modules/ngx-responsive/src/index.d.ts' imported by the module 'AppModule in C:/projects_git/VPortalNV10/src/app/app.module.ts'. Please add a @NgModule annotation.

 "angular/core": "^5.0.0",

[2018-01-18 23:20] philljones commented on #103
Ok based on this https://github.com/ManuCutillas/ngx-responsive/issues/99
I set version to 3.1.3 and was able to build successfully.

[2018-01-18 23:32] philljones commented on #103
Ok so ng serve fails using 3.1.3 with message:

ERROR in ./node_modules/ngx-responsive/index.ts
Module build failed: Error: C:\projects_git\VPortalNV10\node_modules\ngx-responsive\index.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
The missing file seems to be part of a third party library. TS files in published librar

[2018-01-22 16:41] RogerioTeixeira commented on #103
New ?

[2018-01-25 18:58] rijine commented on #103
any updates on this?

[2018-01-25 21:00] vithubati commented on #103
any updates on this?

[2018-01-26 22:29] alyssabrunswick commented on #103
Also having this issue. Also had the 3.1.3 and 3.1.6 scenarios with `ng serve` and `ng build`.

[2018-01-27 03:24] vithubati commented on #103
ng serve works with 3.1.6 but NOT 3.1.3
ng build -prod works with 3.1.3 but not 3.1.6.
Could you please deploy the fix ASAP.

[2018-01-30 18:05] alyssabrunswick commented on #103
From my digging it seems like this is an issue with how the library is packaged, using ng-packagr@1.6.0, which is set up for Angular 4.

The changes for Angular 5 in ng-packagr are still being worked on. https://github.com/dherges/ng-packagr/blob/master/CHANGELOG.md

I forked ngx-responsive and upgraded ng-packagr to 2.0.0-rc.12 and it looks like it will work when that is ready to go, but for now,

[2018-02-01 00:19] maccurt opened #105 "Should RxJs be so big in my vendor bundle?"
I created a brand new project and I used source-map-explorer and RxJS is 23.51KB or 14.1% of my project. I  then added ResponsiveModule and it ballooned to  166.94KB or 41.6% of my project. My First thought is could you be importing things you don't need, but I could be surely be wrong about that. Is this expected? Perhaps you really need all those imports..

"name": "ng2-responsive",
  "version":

[2018-02-01 00:40] maccurt commented on #105
I downloaded the zip file, I did not see anything that concerns me..

[2018-02-12 22:09] maccurt commented on #105
Anyone have any advice on this?

[2018-02-15 05:27] madhanhere commented on #99
Sloved it by using 3.1.4.

It will work in prod build. But it will throw the error in the local run. To solve that add the following include in your _tsconfig.json_ file.

[code]

Note: If you face the same error in unit test then add the include in _tsconfig.spec.json_

[2018-02-18 15:35] Danieliverant commented on #103
any news on this?

[2018-02-18 16:06] Danieliverant commented on #99
@madhanhere  can you share your package.json file and the tsconfig file?
I'm not able to run this in prod using 3.1.3/3.1.4....

[2018-02-18 16:56] madhanhere commented on #99
@Danieliverant

Package.json

[code]

tsconfig.json

[code]

[2018-02-18 17:13] Danieliverant commented on #99
@madhanhere  Thank you!

still waiting for an official fix....

[2018-02-21 06:16] hassanasad commented on #103
@ManuCutillas Can you please look into this. Its a breaking change for production deployment.
Like @alyssabrunswick said, perhaps ng-packagr V2.0 can be used. It was released recently.

[2018-03-04 23:49] ManuCutillas commented on #103
New release v1.3.7 with the @alyssabrunswick changes. Thank you very much to all. 👍

[2018-03-05 07:27] hassanasad commented on #103
@ManuCutillas unfortunately even with version 3.1.7 this issue is not resolved. I am still getting the following error:

[code]

This shows up only when you run `ng build --prod`.

[2018-03-05 10:24] LiamDotPro commented on #103
Still unable to build for production using 3.1.7 using `ng build --prod`

[2018-03-05 12:38] HalgoBZZ commented on #65
can't work
same error

[2018-03-05 12:38] HalgoBZZ commented on #65
any help??

[2018-03-05 17:20] ManuCutillas commented on #103
I'll see why it fails in the prod deploy. Thanks @LiamDotPro and @hassanasad . ; )

[2018-03-05 17:33] alyssabrunswick commented on #103
@ManuCutillas I started working on that also. I created a public_api.ts file that exports the module, rather than using index.ts. It seemed to work, but I'm getting issues with **some** of the directives when I try to test it.

public_api.ts file:
`
export { ResponsiveModule } from './src/index';
export {
  ResponsiveConfig,
  ResponsiveState,
  ResponsiveConfigInterface
} from './src/config/index

[2018-03-06 01:23] ManuCutillas commented on #103
I don´t see the error. I have uploaded my compilation system, if someone has thought of how to solve it. It´s free to perform a pull request. I keep working on it. : )

[2018-03-06 18:03] stusquared commented on #103
watching...

[2018-03-14 13:03] LiamDotPro commented on #103
Just to confirm 3.1.8 still has the exact same build issue with `ng build --prod`.

[2018-03-22 14:01] AndreaVitale commented on #53
+1 for this request. It will be really useful in many common use cases!

[2018-03-23 13:31] DoryZi commented on #103
Same error, not fix in 3.1.8 tried multiple solutions, nothing works.
Any ETA of a fix for this?

[2018-03-26 12:36] habaevmaxim commented on #103
Hi, all.
First of all, thanks for your component.
I have the same issue with 3.1.8 when "ng build --prod" i get
"ERROR in : Unexpected value 'ResponsiveModule in .../node_modules/ngx-responsive/src/index.d.ts' imported by the module 'MyModule in .../my.module.ts'. Please add a @NgModule annotation."

[2018-03-26 12:54] LiamDotPro commented on #103
I think the owner may have abandoned this issue as it's not reproducible for himself, Though if you want to build using this module you can revert back to 3.1.3 and you will be able to bundle no problem, though ironically you won't be able to load development mode with this so you'll have to play around with your package version dependent on what your trying to do till this is resolved. @DoryZi @h

[2018-03-26 13:00] ManuCutillas commented on #103
Hi, it´s not abandoned. I not had time to solve the problem. This afternoon I will try to solve it. : )

Sorry for the inconvenience.

@LiamDotPro in 3.1.3v works fine?...jumm...thanks for this info. : )

[2018-03-26 14:00] LiamDotPro commented on #103
@ManuCutillas So in 3.1.3 we can build to prod using `ng build --prod` but when we run using `ng serve` it gives us an error which is rightfully fixed for the latest release, My best guess is somewhere in between the two versions something isn't working with the strict mode of `--prod` at least for the build process. Thanks for the update 👍

[2018-03-26 16:07] habaevmaxim commented on #103
@LiamDotPro thank you, for your comment, but 3.1.3 doesn't work for me as for all who comment above.
**3.1.3 ng build --prod**
ERROR in ./node_modules/ngx-responsive/src/config/config.ts
Module build failed: Error: ...\angular\node_modules\ngx-responsive\src\config\config.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
T

[2018-03-26 17:28] ManuCutillas commented on #103
ok! Thanks @habaevmaxim , @LiamDotPro .

[2018-03-26 18:19] ManuCutillas commented on #103
New release v3.2.0.  👍 @habaevmaxim , @LiamDotPro @DoryZi @photostu tell me if the new compilation works. 📦

[2018-03-26 18:41] #103 closed

[2018-03-26 18:46] philljones commented on #103
Yay - ng serve & ng build --prod both working for me with v3.2.0

@ManuCutillas - Thank you

[2018-03-26 20:20] LiamDotPro commented on #103
@ManuCutillas I'll update you tomorrow when I get back into work, fingers crossed it works. I'll also review your latest commit and hopefully we can get back to be stable. Thanks again!

[2018-03-27 06:06] hassanasad opened #108 "userAgentInfo is not a known element in v3.2.0"
After updating to version 3.2.0 - started getting

[code]

Perhaps the directive/component has been renamed or something?

[2018-03-27 07:20] ManuCutillas commented on #108
Thanks @hassanasad,

This afternoon I look at him. Anyway I am developing an evolution of that directive and a service to which you can inject it into your components and be able to subscribe.

You can see the changes in the branch: "feature/emit-sizes-states"

[2018-03-27 07:33] habaevmaxim commented on #103
@ManuCutillas I have tested, and it's work!
ng serve --open AND ng build --prod both work with v3.2.0
Thank you!

[2018-03-27 21:09] ManuCutillas commented on #108
I found the error is an error in the format of the template.
[code]
Update the librari to 4.0.0 with the new template names.

Thanks @hassanasad ! : )

[2018-03-27 21:31] ManuCutillas commented on #108
New release v4.0.1. 👍 @hassanasad .

[2018-03-27 21:32] #108 closed

[2018-03-28 07:25] hassanasad commented on #108
Thanks ManuCutillas for the update. Everything is working fine now. 👍

[2018-03-29 10:02] mburger81 commented on #99
@ManuCutillas using version 4.0.1 from npm, no the production build script seems to work! :+1:

[2018-04-01 20:32] ManuCutillas commented on #105
I do not know what the problem might be.

That version is deprecated, please use a more current version of ngx-responsive.  : )

[2018-04-01 20:32] #105 closed

[2018-04-01 20:33] #101 closed

[2018-04-01 20:35] #100 closed

[2018-04-01 20:35] #87 closed

[2018-04-01 20:37] #85 closed

[2018-04-01 20:37] #80 closed

[2018-04-01 20:37] #52 closed

[2018-04-01 20:38] #53 closed

[2018-04-01 20:38] #55 closed

[2018-04-01 20:38] #57 closed

[2018-04-01 20:39] #64 closed

[2018-04-01 20:40] #67 closed

[2018-04-01 20:41] #71 closed

[2018-04-01 20:41] #72 closed

[2018-04-01 20:42] #76 closed

[2018-04-01 20:43] #79 closed

[2018-04-01 20:43] #78 closed

[2018-04-05 14:13] ClaudioKirchmair commented on #103
Is there a chance, that we will get this running for the newest version (v5.0.3)?

I also use ng build --prod ("@angular/cli": "^1.7.3") but it's not building:

ERROR in : Can't resolve all parameters for ResponsiveState in ../node_modules/ngx-responsive/ngx-responsive.d.ts: (?).

I know that it works with v3.2.0 but I want to use the new provided Services.

[2018-04-05 20:04] ManuCutillas commented on #103
@ClaudioKirchmair , solved in new versión v5.0.4.

Thanks! ; )

[2018-04-09 08:57] ClaudioKirchmair commented on #103
When I include the browserInfoRx: BrowserInfoRx Service then it get an error when I open the app:
[code]

So I thought that I have to include the config file but then i won't compile anymore:

[code]

[code]

@ManuCutillas do you have any idea how I can solve this? The App compiles and runs if I remove the BrowserInfoRx Service from my component but the Service is the reason why I updated to v5.0.

[2018-04-10 09:53] mburger81 opened #109 "ResponsiveModule using new 5.0.4 throws an Error: StaticInjectorError(AppModule)[config]:"
We upgraded today from version `4.x.x` to latest version `5.0.4`, we think we had nothing magic to do, we use no config and as described in your upgrade instraction we should have no breaking cahanges. But it seems there are configuration issue for the `ResponsiveModule` if you don't use a custom config.

In your **readme** file you write you have to do ResponsiveModule.forRoot(config) if you use

[2018-04-10 21:56] ManuCutillas commented on #109
Thanks @mburger81 ! I´m trying to solve this bug. 👍

[2018-04-11 11:35] navdeepkumar commented on #84
any ETA on this? this is breaking our ssr builds...

[2018-04-11 15:51] aerguney commented on #84
+1

On Wed, 11 Apr. 2018, 21:35 navdeepkumar, <notifications@github.com> wrote:

[2018-04-11 20:33] ManuCutillas commented on #103
@ClaudioKirchmair , solved in v5.0.6

Thanks! ; )

[2018-04-11 20:33] ManuCutillas commented on #109
@mburger81 , solved in v5.0.6

Thanks! ; )

[2018-04-11 20:33] #109 closed

[2018-04-12 14:34] ManuCutillas commented on #84
Ok! This weekend I will work on making it compatible with universal. 👍
Thanks @aerguney ,  @navdeepkumar.

[2018-04-13 18:59] ManuCutillas commented on #84
First beta versión of ngx-responsive with universal compatibility.
[code]
Thanks @aerguney , @navdeepkumar , @HermanMarvel , @demiro , @VagrantAI-c , @beqa7137 . 👍

[2018-04-13 19:10] #84 closed

[2018-04-13 19:10] #94 closed

[2018-04-23 14:09] saikiriti11 opened #110 "Reason for using observables"
Hi,
1) I would like to know why observables are being used in asynchronous way for finding the device
   information instead of returning the respective information synchronously without the need to
   subscribe to observable.

2) Is there any way where the provided services have methods which return boolean values for
finding device information which can be used in java script.
For example, I wan

[2018-04-24 05:43] hassanasad opened #111 "Pixel Ratio in userAgentInfoRX is null"
After updating from **4.0.1** to **5.0.6** and using the update guide, i switched to services based approach. However i noticed the userAgentInfoRx values are coming out fine except for **pixelratio** property which is null on my Retina Mac.

Here is a copy of the object:
[code]

Can you please check it out. Thanks!

[2018-04-26 10:12] ManuCutillas commented on #111
Thanks @hassanasad !  I fix this bug in wekend. ; )

[2018-04-26 16:43] cdubuisson opened #113 "Module lazyloading and forRoot convention"
Hi @ManuCutillas, first of all, thanks for your amazing work.

I am encountering a problem with version **5.0.6** and module lazyloading.
In **responsive.module.ts**, I think the list of providers defined in decorator @ngModule should be moved with the providers declared inside **forRoot** method, to have something similar to:

[code]

Currently, in a lazyloaded module, I'm not able to import Resp

[2018-04-28 18:54] ManuCutillas commented on #111
Fixed @hassanasad ! 👍  v5.0.8.

[2018-04-28 18:54] #111 closed

[2018-04-28 18:58] ManuCutillas commented on #113
Thanks @cdubuisson ! 😄
I fix this problem.  Install in your proyect this new version -> 5.0.8.

[2018-04-28 18:58] #113 closed

[2018-05-15 07:38] ClaudioKirchmair opened #114 "Add back browserInfo, deviceInfo and deviceStandardInfo components"
Hi,

in Version 3.2.0 there were the browserInfo, deviceInfo and deviceStandardInfo components. They are gone in the newest version (6.0.0). Can you readd them?

Thanks.

[2018-05-15 07:40] ClaudioKirchmair commented on #114
Nevermind, I just found the user-agent-info component :)

[2018-05-15 07:40] #114 closed

[2018-05-15 08:23] ClaudioKirchmair opened #115 "Error when launching with version 6.0.0"
The build works (aot) but when I run my app I get the following error in my console:

[code]

I use the "user-agent-info" component.

It reads like the ResponsiveState service isn't part of a module (in the provider section).

It seems like there is a general problem when using your components. If I add the "responsiveSizeInfo" component then I get another error:

[code]

Here is the same problem.

[2018-05-15 16:49] ManuCutillas commented on #115
@ClaudioKirchmair in your app.module add the ```ResponsiveModule``` with the forRoot call:
[code]
@LiamDotPro : )

[2018-05-15 16:52] #115 closed

[2018-06-05 15:52] ohabash opened #116 "Can i make custom breakpoint name in the config"
Can i make custom break point name in the confix like below?

[code]

[2018-06-05 17:17] ohabash commented on #116
here is the start of what i came up with

# html
`<navigation *responsive="show.downto('pro13')"></navigation>`
if you want to show downto `pro13` **and** exclude it =>
`<navigation *responsive="show.downto('pro13', true)"></navigation>`

# in a global `.ts` file
[code]

# component
import: `import { show } from '../_reusable/_global';`
set var in the component class: `show: object = show;`

[2018-06-06 20:16] ohabash opened #117 "Site crashes in chrome"
I am using this exactly as described in the readme. I dont have much more info to provide. The browser often crashes when tabbing away and coming back or resizing the window? Has anyone else experienced this?

[2018-08-26 10:30] ShakurOo commented on #116
It should be interesting to allow custom names for our configuration. In my case i need this king of configuration :
[code]
The properties names is the same in my SASS mixins because I using both techniques for more consistency to handle screensize behavior in my app...

[code]

Considering the directive which is currently not enough permissive, I have to define tricky configuration like this :
[c

[2018-08-26 10:41] ShakurOo commented on #68
You should considering CSS option :

[code]

[2018-10-15 14:59] digeomel opened #118 "Examples using the new services with Observables"
Hello, can you please provide some example(s) using the new services, like DeviceStandardInfoRx?
Thanks 😄

[2018-10-15 15:48] #118 closed

[2018-10-15 15:49] digeomel commented on #118
My bad, did not see the examples folder, sorry 😞

[2018-10-26 12:05] sarahm7 opened #119 "*showItSizes fails when you access the app route directly from the browser"
I tried using below example but i'm encountering an issue when i directly

[code]

[2018-11-22 19:16] hassanasad opened #120 "Chrome on iPhone reports "safari" in userAgent service"
The `UserAgentInfoRx` service is reporting Chrome as "Safari" on iphone.

Can you please look into it?

[2018-12-02 06:11] no-more commented on #68
Hello,

I would like to do the same but based on a responsive-window parent container size not the whole page.
It would be great to have such a feature for class or even for attributes.

Thanks

[2018-12-03 13:35] no-more commented on #70
Hello,

I would also need this with responsive-window feature:
[code]
or maybe :
[code]

[2018-12-04 06:05] no-more opened #121 "responsive-window seems to work as media query"
Hi,

Maybe I'm doing something wrong but I'm trying to use responsive-window feature and the "parent" element size seems to be ignored in favor of whole screen size.

Does anybody have a working plunkr with ngx-responsive configuration I could start with to create an example?

Thanks.

[2018-12-04 06:23] no-more commented on #121
After a look in the source code, in registerWindow we're testing _window too soon which prevent populating this._windows, moving the test only around _window use seems to fix the issue (same for unregisterWindow)

[2018-12-04 07:52] no-more commented on #83
Hello,

I'm trying to create a patch, and want to try it locally in my project,
After cloning the repo, build and link, (and updating main file path), I still can't use it as I have this error :
[code]

Anybody know how to correctly link and use this package locally ?

[2018-12-04 10:06] no-more commented on #83
Strangely if instead of linking I replace the files in node_modules it just work.

I don't really understand.

[2018-12-04 10:13] no-more commented on #110
Hello,

1 - Not sure but maybe just to make uniform all the code with observable.
2 - Don't know sorry

[2018-12-04 17:37] no-more commented on #58
Hi,

Could you please confirm this issue still exists ?
I might not be using exactly the same feature or syntax but it seems to work for me (tested on chrome)

Thanks.

[2018-12-06 03:35] bjornharvold opened #125 "Angular 7 warning"
[code]

ngx-responsive complains when working with Angular 7. Can the warning be removed or is there something in 7 that ngx-responsive is not compatible with?

Cheers

[2018-12-06 09:59] no-more commented on #125
ngx-responsive have not been upgraded to angular 7 yet, but it's working fine.
@ManuCutillas seems a bit busy, I don't know if someone else is working on the project.

If there's someone to review the PRs I could try to make one for this too.

[2018-12-06 12:08] ManuCutillas commented on #125
HI! I will work to upload all the changes and the update to Angular 7 this weekend. Thanks @no-more !! 👍

[2018-12-06 13:42] no-more commented on #125
Thank you @ManuCutillas , tell me if you need something, I should be available this weekend.

[2018-12-07 01:47] bjornharvold commented on #125
Thank you to both! @ManuCutillas / @no-more

[2018-12-08 18:49] ManuCutillas commented on #125
Upgrade to angular 7 confirmed! 😄
The new version in npm packages is ``` npm i ngx-responsive@7.0.0```

Thanks!

[2018-12-08 18:49] #125 closed

[2018-12-08 18:53] ManuCutillas commented on #121
Thanks @no-more ! 👏 👏 👏

[2018-12-08 18:53] #121 closed

[2018-12-09 05:12] no-more commented on #121
Hi,

Thank you very much.

[2019-01-10 08:55] dertuerke commented on #120
@hassanasad that is correct. A Chrome, Firefox or Opera are the same on iOS (Safari / WebKit).

The Chrome Engine is Chromium, but under iOS it is WebKit. Apple dont allow the Browser-Companys to use his own Engine on iOS-Devices.

https://blog.chromium.org/2017/01/open-sourcing-chrome-on-ios.html

[2019-01-14 06:58] hassanasad commented on #120
@dertuerke okay but i see it "safari" even on MacOS on a macbook pro. That shouldn't happen right?

Had to implement some hacky method to fix that for myself.
https://stackoverflow.com/questions/16935955/javascript-to-detect-safari-and-chrome-on-mac

Basically this line:
[code]

[2019-01-24 05:49] skopekreep commented on #88
Same for div (and assumably all others)

```ng: Can't bind to 'showItBootstrap' since it isn't a known property of 'div'.```

[2019-01-24 06:00] skopekreep opened #128 "Bootstrap breakpoint directives (and others) not working"
Thanks for your work on this potentially useful package.

I have a simple Angular app using Angular v6.1.0.  I have followed the instructions and have imported and bootstrapped ResponsiveModule in app.module.  I installed "ngx-responsive": "^6.0.0".

However, in my components, when I use the directives like *sm, *isIphone, etc., the div (or p, etc.) element I am applying the directive to is simply

[2019-01-29 11:02] ibedek commented on #58
Hi
I can confirm, issue still exists - angular 6.1.6 and ngx-responsive v6

[2019-02-14 04:57] ravipatel2293 opened #129 "Spport for templateUrl"
Hi Team,
I would like to know that does this library support **templateUrl** property in a component decorator?

[2019-03-12 11:29] PeterDeSaegher opened #130 "Windows_os_version mismatch on windows 10 (chrome)"
On windows 10 (using chrome browser) the windows_os_version is not correct.

It returns 'Generic windows'.

The reason is an overlapping in the regular expression for windows 10 and windows NT 4:
"WINDOWS_10": /(**windows nt** 10.0)/
"WINDOWS_NT_4_0": /(windows nt 4.0|winnt4.0|winnt|**windows nt**)/

Having a useragent-string "mozilla/5.0 (windows nt 10.0; win64; x64) applewebkit/537.36 (khtml, li

[2019-06-09 17:40] GMaxera opened #131 "Angular 8 support"
Can you please add support to Angular 8?

This is the warning I see when trying to update to Angular 8 my project:

[code]

[2019-08-14 07:29] hassanasad commented on #131
Sadly i think this repo isn't being maintained anymore. Someone needs to fork and maintain this. I am not sure it this will be `Ivy` compatible at this point. :(

[2019-08-14 08:10] GMaxera commented on #131
@ManuCutillas can you please let us know if you are willing to give access to someone else for maintaining this repository ?

[2019-08-14 08:21] ManuCutillas commented on #131
Hi @GMaxera! You can try to create a pull request with the changes to update the repository. ; )

Anyway this week I will update the version to Angular 8. Sorry, the delay.

Thanks @GMaxera , @hassanasad .

[2019-08-16 18:28] ManuCutillas commented on #131
NGX-RESPONSIVE Updated to Angular 8.0.0. ; )

Thanks @GMaxera , @hassanasad .

[2019-08-16 18:28] #131 closed

[2019-08-21 03:26] patrickchoi opened #132 "isPortrait / isLandscape is backwards on initial load"
On first load, it appears if isPortrait is the opposite of what it should be, and the same with isLandscape.

If I rotate my device once, then it seems to fix itself, and then rotating the device thereafter the directives are correctly updated.

My setup:

ngx-responsive@6.0.0
Node: 11.11.0
OS: darwin x64
Angular: 6.1.8

[2019-09-23 11:21] harpreetsingh85 opened #133 "*showItDevice and other multiple options directives not working"
*showItStandard and *hideItStandard not working for me . but single option directives life *isMobile, *isDesktop and others are working.

I am having this error "Can't bind to 'showItDevice' since it isn't a known property". Any help in this would be really appreciated

[2019-10-11 11:41] beleta opened #134 "Please provide services (nnnnnnnnRx) outputs as constants"
Please provide services (nnnnnnnnRx) outputs as constants, enums or union types. Using strings is very error prone and you are never sure that you are using the correct value.

[2019-10-14 19:28] ManuCutillas commented on #134
Thank you very much @beleta. I will work on this new feature. 😉

[2019-10-14 19:31] ManuCutillas commented on #133
Thanks @harpreetsingh85. I will check the error in this directives. 😉

[2019-10-29 19:44] chaityashah commented on #68
Is there any potential update on the package related to this enhancement request ?

[2019-10-31 13:35] feardarkness opened #135 "Can't unsubscribe from responsiveSizeInfoRx.getResponsiveSize (memory leak)"
It's impossible to unsubscribe from responsiveSizeInfoRx.getResponsiveSize.

I've prepared an small example so you can take a look:

https://stackblitz.com/edit/angular7-playground-vzriud?file=src%2Fapp%2Ftest%2Ftest.component.ts

Just navigate from *component 1* to *Component 2*  and vice versa a few times to reproduce the issue.

[2019-11-01 11:08] feardarkness commented on #135
Checking the source code, is a ReplaySubject so the behavior is correct. But maybe adding something to emit only the last and new values will be helpful.

Fixed with debounce!

[2019-11-01 11:08] #135 closed

[2019-12-11 19:19] Khasanboy opened #137 "Can't find some modules"
Hi I have installed ngx-responsive and getting following errors:

ERROR in ../../../node_modules/ngx-responsive/@core/providers/responsive-base/responsive-base.d.ts:7:99 - error TS2307: Cannot find module '@angular/core'.

7 import { EventEmitter, TemplateRef, ViewContainerRef, OnInit, OnDestroy, ChangeDetectorRef } from '@angular/core';
[code]
../../../node_modules/ngx-responsive/@directives/boot

[2020-02-05 10:04] no-more opened #138 "Deploy latest version on npm"
Hi,

When you have time could you update the npm version with latest version please ?

Thanks a lot

[2020-02-11 19:38] ManuCutillas commented on #138
Hi Christophe,

Updated the npm version with your pull request changes and the new version of Angular.

Give me your npm account to add you to the repository. :wink:

Thanks a lot.

[2020-02-12 06:29] no-more commented on #138
Hi Manu,

Thanks a lot, I currently don't have an npm account and I'm not used to npm process at all...
As soon as I have some time I'll try to check how it works and then I'll contact you back.

Thanks again for this great project which is very useful to me.

[2020-02-20 18:57] uselvvi opened #139 "OS detection"
It is a great module.
Only thing which is missing is - can we have something like ***isMac**  ***isWindows** ***isLinux** ?

[2020-02-26 06:44] dileepyelleti opened #140 "change property binding based on screen size"
Is it possible to use screen size inside property binding or store screen size in component as variable. For example [title] = "'Large Screen'" || "'Small Screen'" based on screen size.
Or will it support only showing and hiding elements.

[2020-03-29 03:14] bjornharvold opened #141 "ngx-responsive not working in Angular 9.1"
Hi @ManuCutillas

Thank you for a great plugin. I have been using it successfully for many years in many Angular applications.

Today, I upgraded to Angular 9. I get no errors but *isDesktop and all the other commands silently stopped working. None of them ever return as true and as a result, my pages are empty.

How can I help you figure out what is going here?

Minimal sample:
https://github.com

[2020-04-10 11:28] gishan commented on #141
same here. when I use any directive it hides the component whatever the screen size

[2020-04-13 12:51] bjornharvold commented on #141
Bump. This is a blocker bug. Remove it from my projects. Using Bootstrap display classes instead [to my dismay].

[2020-05-01 09:46] lydemann opened #142 "Add support for rendering on Angular Universal server"
## Problem

When using this with Angular Universal `ShowItBootstrapDirective` is not rendering.
This seems to be because this is enabled only for browser platform.

## Expected behavior

I should be able to set the windows.innerWidth to the desired breakpoint I want to trigger and it will be rendered on an Angular Universal server.

[2020-05-02 07:55] lydemann commented on #142
@ManuCutillas I created a PR that is enabling this :)

[2020-05-03 08:28] #142 closed

[2020-05-11 19:33] ManuCutillas commented on #141
Sorry, I haven't had much time away from work to update the library. I'm going to take some time to fix this.

[2020-05-11 21:40] ManuCutillas commented on #141
@bjornharvold and @gishan , i fixed this error in Angular < 9.1.0.

Update the library to this version : ```npm i ngx-responsive@9.0.3```

[2020-05-11 21:40] #141 closed

[2020-05-11 21:41] ManuCutillas commented on #138
Updated in npm. ; )

[2020-05-11 21:41] #138 closed

[2020-05-11 21:43] ManuCutillas commented on #137
I don´t know whats is your error. : )

[2020-05-11 21:43] #137 closed

[2020-05-12 01:53] bjornharvold commented on #141
@ManuCutillas THANK YOU

[2020-05-17 13:27] bjornharvold opened #147 "user-agent-info directive not emitting an info event in v9.0.3"
Regression error

AppModule:
[code]

app.component.html:
`<user-agent-info (info)="deviceInfo($event)"></user-agent-info>`

There is never any info emitted here. No error either.

[2020-06-03 05:36] axell9641 opened #148 "What do I need to import to use directive that take into account the costume sizes"
Hi I trying to use the custom sizes I have defined like this:

[code]

<app-desktop-home ></app-desktop-home>
<app-mobile-home  ></app-mobile-home>

What directive should I use to tell the first component to show only if size is sm or larger
What directive should I use to tell the second component to only show if size is xs

And the most import question, how to include those directive. I tried add

[2020-06-24 07:35] biswas123 opened #150 "Android tablets are detected as "mobile" :("
Android tablets are detected as "mobile"  :(

[2020-06-24 07:35] khayargoli commented on #150
Tested with Nexus 7

[2020-07-04 08:01] bjornharvold opened #151 "ngx-responsive fails on Angular 10"
https://next.angular.io/guide/deprecations#modulewithproviders-type-without-a-generic

[code]

[2020-07-04 08:27] bjornharvold commented on #151
PR here: https://github.com/ManuCutillas/ngx-responsive/pull/152

[2020-07-09 17:45] no-more opened #153 "Feature proposal: Detect if application (pwa) is installed"
Hi Manu,

What do you think about adding a state and adapt directives which could detect and react (show/hide) if application has been installed on a mobile device or is running in web browser.
I have some uses cases for this and I think I could make a pull request if you want to include it in ngx-responsive. But if you think it doesn't fit here I can still include it in my own project, so it's up

[2020-09-16 14:46] elvispdosreis commented on #77
attempt [stackblitz sample](https://stackblitz.com/edit/angular-ngx-responsive)

[2020-11-13 12:12] aleperfetti81 opened #154 "Cannot resolve all parameter (error in component when ResponsiveSizoInfoRX injected)"
Hi all,

i receive attached compiler error when i try to inject ResponsiveSizoInfoRX to a component, like this:

constructor(
    ......
    protected responsiveSizeInfoRx: ResponsiveSizeInfoRx,
    protected activatedRoute: ActivatedRoute,
    protected router: Router
  ) {

I know that is a class, and is not declared as a service. But how can i use it like a service without receiving the compile

[2020-11-24 14:45] edgsmi opened #155 "compatibility angular 9 Ivy"
I looks like directives like *isDesktop/*isMobile doesn't work with ivy.

Doesn't work with :
    "angularCompilerOptions": {
        "enableIvy": true
    }

Works only when I set enableIvy to false

[2020-12-04 05:26] no-more opened #156 "Feature Request: detect touch devices"
Hi,

It would be great to have touch device detection and tools (like isMobile, isDesktop ...)

What do you think about it ?

Thanks

[2020-12-18 16:10] stephenmaguireland commented on #151
When can we expect this fix to be merged and released? We need ngx-responsive in angular11

[2021-03-03 10:23] marcinmilewicz commented on #151
Hi,
as it has been already merged, have you planned to release it in the near future?

[2021-06-02 08:55] BaHXeLiSiHg commented on #147
Seems like because checking fails. In comparison of ```isPlatformBrowser(this._platformId)``` directive has ```_platformId``` as ```PlatformService``` from constructor.

![image](https://user-images.githubusercontent.com/15612158/120458530-05894d00-c3a0-11eb-9061-a68931e32a8b.png)

[2021-06-02 14:53] BaHXeLiSiHg commented on #147
[This](https://github.com/ManuCutillas/ngx-responsive/pull/158) should fix, if will be merged ;)

[2021-09-17 13:47] mburger81 opened #159 "upgrade to ng12 and migrate to nx workspace"
Today we migrate your ngx-responsive lib to a nx workspace upgrading to angular 12.

We tested it in our production environment and it seems fine

https://github.com/lanthings/ngx-components

Have a look and let us know what do you think about it

@ManuCutillas

[2021-09-17 13:53] mburger81 commented on #155
Hello we created a new nx workspace to keep some ngx libs up to date.

We added also the ngx-responsive lib, it should work out of the box you have only to change the import path.
We migrate it also to ng12, if you like please have a look

https://github.com/lanthings/ngx-components

`npm i --save @lanthings/ngx-responsive`

[2021-09-17 13:53] mburger81 commented on #151
Hello we created a new nx workspace to keep some ngx libs up to date.

We added also the ngx-responsive lib, it should work out of the box you have only to change the import path.
We migrate it also to ng12, if you like please have a look

https://github.com/lanthings/ngx-components

`npm i --save @lanthings/ngx-responsive`

[2022-01-27 19:03] BergkampHUN commented on #159
@mburger81  Your link is not working, do you still have the repo?

[2022-04-01 15:46] amassal opened #160 "Compatibility with ng13"
Hi,

npm i --save @lanthings/ngx-responsive is only compatible with angular 12, can we have an update for angular 13 please ?

Best regards,
Arnaud

[2022-07-15 06:56] schmidts306 commented on #160
Angular 14 would be great as well